.page-header
  %h2= t '.titolo'
%h3 -er
%p= t '.er.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "salo"
      %dd= t '.er.salo'
      %dt= eo "salero"
      %dd= t '.er.salero'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "mono"
      %dd= t '.er.mono'
      %dt= eo "monero"
      %dd= t '.er.monero'
%h3 -estr
%p= t '.estr.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "urbo"
      %dd= t '.estr.urbo'
      %dt= eo "urbestro"
      %dd= t '.estr.urbestro'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ŝipo"
      %dd= t '.estr.ŝipo'
      %dt= eo "ŝipestro"
      %dd= t '.estr.ŝipestro'
%h3 -et
%p= t '.et.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "pupo"
      %dd= t '.et.pupo'
      %dt= eo "pupeto"
      %dd= t '.et.pupeto'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ridi"
      %dd= t '.et.ridi'
      %dt= eo "rideti"
      %dd= t '.et.rideti'
%h3 -id
%p= t '.id.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "kato"
      %dd= t '.id.kato'
      %dt= eo "katido"
      %dd= t '.id.katido'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "reĝo"
      %dd= t '.id.reĝo'
      %dt= eo "reĝido"
      %dd= t '.id.reĝido'
%h3 -ig
%p= t '.ig.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "pura"
      %dd= t '.ig.pura'
      %dt= eo "purigi"
      %dd= t '.ig.purigi'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "morti"
      %dd= t '.ig.morti'
      %dt= eo "mortigi"
      %dd= t '.ig.mortigi'
%h3 -iĝ
%p= t '.iĝ.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ruĝa"
      %dd= t '.iĝ.ruĝa'
      %dt= eo "ruĝiĝi"
      %dd= t '.iĝ.ruĝiĝi'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "mateno"
      %dd= t '.iĝ.mateno'
      %dt= eo "mateniĝi"
      %dd= t '.iĝ.mateniĝi'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "fari"
      %dd= t '.iĝ.fari'
      %dt= eo "fariĝi"
      %dd= t '.iĝ.fariĝi'
%h3 -il
%p= t '.il.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ŝlosi"
      %dd= t '.il.ŝlosi'
      %dt= eo "ŝlosilo"
      %dd= t '.il.ŝlosilo'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "muziko"
      %dd= t '.il.muziko'
      %dt= eo "muzikilo"
      %dd= t '.il.muzikilo'
%h3 -in
%p= t '.in.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "onklo"
      %dd= t '.in.onklo'
      %dt= eo "onklino"
      %dd= t '.in.onklino'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "koko"
      %dd= t '.in.koko'
      %dt= eo "kokino"
      %dd= t '.in.kokino'
%h3 -ind
%p= t '.ind.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "admiri"
      %dd= t '.ind.admiri'
      %dt= eo "admirinda"
      %dd= t '.ind.admirinda'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "laŭdi"
      %dd= t '.ind.laŭdi'
      %dt= eo "laŭdinda"
      %dd= t '.ind.laŭdinda'
%h3 -ist
%p= t '.ist.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "tajpi"
      %dd= t '.ist.tajpi'
      %dt= eo "tajpisto"
      %dd= t '.ist.tajpisto'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "raporti"
      %dd= t '.ist.raporti'
      %dt= eo "raportisto"
      %dd= t '.ist.raportisto'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "piano"
      %dd= t '.ist.piano'
      %dt= eo "pianisto"
      %dd= t '.ist.pianisto'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "Esperanto"
      %dd= t '.ist.esperanto'
      %dt= eo "esperantisto"
      %dd= t '.ist.esperantisto'
%h3 -nj
%p= t '.nj.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "patrino"
      %dd= t '.nj.patrino'
      %dt= eo "panjo"
      %dd= t '.nj.panjo'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "Maria"
      %dd= t '.nj.Maria'
      %dt= eo "Manjo"
      %dd= t '.nj.manjo'
%h3 -obl
%p= t '.obl.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "du"
      %dd= t '.obl.du'
      %dt= eo "duobla"
      %dd= t '.obl.duobla'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "tri"
      %dd= t '.obl.tri'
      %dt= eo "trioblo"
      %dd= t '.obl.trioblo'
%h3 -on
%p= t '.on.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "kvar"
      %dd= t '.on.kvar'
      %dt= eo "kvarono"
      %dd= t '.on.kvarono'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "dek"
      %dd= t '.on.dek'
      %dt= eo "dekono"
      %dd= t '.on.dekono'
%h3 -op
%p= t '.op.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "du"
      %dd= t '.op.du'
      %dt= eo "duopo"
      %dd= t '.op.duopo'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ses"
      %dd= t '.op.ses'
      %dt= eo "sesopo"
      %dd= t '.op.sesopo'
%h3 -ul
%p= t '.ul.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "sankta"
      %dd= t '.ul.sankta'
      %dt= eo "sanktulo"
      %dd= t '.ul.sanktulo'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "stulta"
      %dd= t '.ul.stulta'
      %dt= eo "stultulo"
      %dd= t '.ul.stultulo'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "kontraŭ"
      %dd= t '.ul.kontraŭ'
      %dt= eo "kontraŭulo"
      %dd= t '.ul.kontraŭulo'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "riĉa"
      %dd= t '.ul.riĉa'
      %dt= eo "riĉulo"
      %dd= t '.ul.riĉulo'
%h3 -um
%p= t '.um.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "kolo"
      %dd= t '.um.kolo'
      %dt= eo "kolumo"
      %dd= t '.um.kolumo'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "plena"
      %dd= t '.um.plena'
      %dt= eo "plenumi"
      %dd= t '.um.plenumi'
%h3 -uj
%p= t '.uj.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "mono"
      %dd= t '.uj.mono'
      %dt= eo "monujo"
      %dd= t '.uj.monujo'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "franco"
      %dd= t '.uj.franco'
      %dt= eo "Francujo"
      %dd= t '.uj.francujo'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "pomo"
      %dd= t '.uj.pomo'
      %dt= eo "pomujo"
      %dd= t '.uj.pomujo'
= rimarkigo do
  %p= t '.rimarkigo.ekspliko'
  %dl.dl-horizontal
    %dt= eo "pomujo"
    %dd= t '.uj.pomujo'
    %dt= eo "pomkesto"
    %dd= t '.rimarkigo.pomkesto'
    %dt= eo "pomarbo"
    %dd= t '.rimarkigo.pomarbo'
= rimarkigo do
  %dl.dl-horizontal
    %dt= eo "Germanio"
    %dd= t '.rimarkigo.germanio'
    %dt= eo "Ruslando"
    %dd= t '.rimarkigo.ruslando'
