.page-header
  %h2= t '.titolo'
%h3 -er
%p= t '.er.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "salo"
      %dd= t '.er.salo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "salero"
      %dd= t '.er.salero'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "mono"
      %dd= t '.er.mono'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "monero"
      %dd= t '.er.monero'
%h3 -estr
%p= t '.estr.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "urbo"
      %dd= t '.estr.urbo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "urbestro"
      %dd= t '.estr.urbestro'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "ŝipo"
      %dd= t '.estr.ŝipo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "ŝipestro"
      %dd= t '.estr.ŝipestro'
%h3 -et
%p= t '.et.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "pupo"
      %dd= t '.et.pupo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "pupeto"
      %dd= t '.et.pupeto'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "ridi"
      %dd= t '.et.ridi'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "rideti"
      %dd= t '.et.rideti'
%h3 -id
%p= t '.id.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "kato"
      %dd= t '.id.kato'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "katido"
      %dd= t '.id.katido'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "reĝo"
      %dd= t '.id.reĝo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "reĝido"
      %dd= t '.id.reĝido'
%h3 -ig
%p= t '.ig.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "pura"
      %dd= t '.ig.pura'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "purigi"
      %dd= t '.ig.purigi'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "morti"
      %dd= t '.ig.morti'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "mortigi"
      %dd= t '.ig.mortigi'
%h3 -iĝ
%p= t '.iĝ.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "ruĝa"
      %dd= t '.iĝ.ruĝa'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "ruĝiĝi"
      %dd= t '.iĝ.ruĝiĝi'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "mateno"
      %dd= t '.iĝ.mateno'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "mateniĝi"
      %dd= t '.iĝ.mateniĝi'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "fari"
      %dd= t '.iĝ.fari'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "fariĝi"
      %dd= t '.iĝ.fariĝi'
%h3 -il
%p= t '.il.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "ŝlosi"
      %dd= t '.il.ŝlosi'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "ŝlosilo"
      %dd= t '.il.ŝlosilo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "muziko"
      %dd= t '.il.muziko'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "muzikilo"
      %dd= t '.il.muzikilo'
%h3 -in
%p= t '.in.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "onklo"
      %dd= t '.in.onklo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "onklino"
      %dd= t '.in.onklino'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "koko"
      %dd= t '.in.koko'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "kokino"
      %dd= t '.in.kokino'
%h3 -ind
%p= t '.ind.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "admiri"
      %dd= t '.ind.admiri'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "admirinda"
      %dd= t '.ind.admirinda'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "laŭdi"
      %dd= t '.ind.laŭdi'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "laŭdinda"
      %dd= t '.ind.laŭdinda'
%h3 -ist
%p= t '.ist.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "tajpi"
      %dd= t '.ist.tajpi'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "tajpisto"
      %dd= t '.ist.tajpisto'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "raporti"
      %dd= t '.ist.raporti'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "raportisto"
      %dd= t '.ist.raportisto'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "piano"
      %dd= t '.ist.piano'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "pianisto"
      %dd= t '.ist.pianisto'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "Esperanto"
      %dd= t '.ist.esperanto'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "esperantisto"
      %dd= t '.ist.esperantisto'
%h3 -nj
%p= t '.nj.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "patrino"
      %dd= t '.nj.patrino'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "panjo"
      %dd= t '.nj.panjo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "Maria"
      %dd= t '.nj.Maria'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "Manjo"
      %dd= t '.nj.manjo'
%h3 -obl
%p= t '.obl.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "du"
      %dd= t '.obl.du'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "duobla"
      %dd= t '.obl.duobla'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "tri"
      %dd= t '.obl.tri'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "trioblo"
      %dd= t '.obl.trioblo'
%h3 -on
%p= t '.on.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "kvar"
      %dd= t '.on.kvar'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "kvarono"
      %dd= t '.on.kvarono'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "dek"
      %dd= t '.on.dek'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "dekono"
      %dd= t '.on.dekono'
%h3 -op
%p= t '.op.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "du"
      %dd= t '.op.du'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "duopo"
      %dd= t '.op.duopo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "ses"
      %dd= t '.op.ses'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "sesopo"
      %dd= t '.op.sesopo'
%h3 -ul
%p= t '.ul.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "sankta"
      %dd= t '.ul.sankta'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "sanktulo"
      %dd= t '.ul.sanktulo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "stulta"
      %dd= t '.ul.stulta'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "stultulo"
      %dd= t '.ul.stultulo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "kontraŭ"
      %dd= t '.ul.kontraŭ'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "kontraŭulo"
      %dd= t '.ul.kontraŭulo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "riĉa"
      %dd= t '.ul.riĉa'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "riĉulo"
      %dd= t '.ul.riĉulo'
%h3 -um
%p= t '.um.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "kolo"
      %dd= t '.um.kolo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "kolumo"
      %dd= t '.um.kolumo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "plena"
      %dd= t '.um.plena'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "plenumi"
      %dd= t '.um.plenumi'
%h3 -uj
%p= t '.uj.ekspliko'
%ul.row-fluid
  %li.span6
    %dl.dl-horizontal
      %dt= eo "mono"
      %dd= t '.uj.mono'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "monujo"
      %dd= t '.uj.monujo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "franco"
      %dd= t '.uj.franco'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "Francujo"
      %dd= t '.uj.francujo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "pomo"
      %dd= t '.uj.pomo'
  %li.span6
    %dl.dl-horizontal
      %dt= eo "pomujo"
      %dd= t '.uj.pomujo'
= rimarkigo do
  %p= t '.rimarkigo.ekspliko'
  = eo "pomujo"
  %dl.dl-horizontal
    %dt= eo "pomkesto"
    %dd= t '.rimarkigo.pomkesto'
    %dt= eo "pomarbo"
    %dd= t '.rimarkigo.pomarbo'
  %dl.dl-horizontal
    %dt= eo "Germanio"
    %dd= t '.rimarkigo.germanio'
    %dt= eo "Ruslando"
    %dd= t '.rimarkigo.ruslando'
