.page-header
  %h2= t '.titolo'
%p= t '.ekspliko-1'
%dl
  %dt= eo "Sur la sofo sidas ili."
  %dd= t '.frazo-1'
  %dt= eo "Sur la sofo ili sidas."
  %dd= t '.frazo-2'
  %dt= eo "Ĉasas katon la hundo."
  %dd= t '.frazo-3'
  %dt= eo "Ĉasas la hundo katon."
  %dd= t '.frazo-4'
  %dt= eo "Katon ĉasas la hundo."
  %dd= t '.frazo-5'
  %dt= eo "Lin mi vokis."
  %dd= t '.frazo-6'
  %dt= eo "Petron Maria amas, ne Paŭlon."
  %dd= t '.frazo-7'
  %dt= eo "La verdan koloron mi preferas."
  %dd= t '.frazo-8'
  %dt= eo "Ne mi faris tion."
  %dd= t '.frazo-9'
%p= t '.ekspliko-2'
%dl
  %dt= eo "Ja mi vokis ilin."
  %dd= t '.frazo-10'
  %dt= eo "Morti iam vi ja devas."
  %dd= t '.frazo-11'
  %dt= eo "Ĉu ili ja venos?"
  %dd= t '.frazo-12'
  %dt= eo "Ĉu estis ja ŝi, kiu kantis?"
  %dd= t '.frazo-13'
%p= t '.ekspliko-3'
%dl
  %dt= eo "Kion vi volas?"
  %dd= t '.frazo-14'
  %dt= eo "Kiu estas Anna?"
  %dd= t '.frazo-15'
  %dt= eo "Mi volas tion, kion vi volas."
  %dd= t '.frazo-16'
  %dt= eo "Kiam revenos via filo?"
  %dd= t '.frazo-17'
  %dt= eo "Mi ankoraŭ ne scias, kiam li revenos."
  %dd= t '.frazo-18'
  %dt= eo "Mi ne scias, kiujn frutojn elekti."
  %dd= t '.frazo-19'
%p= t '.ekspliko-4'
.row-fluid
  .span6
    %blockquote
      %p
        \— Mi vin vidis, ho trezoro!
        %br/
        Kaj ekamis vin mi tuj!
        %br/
        \— Kredas mi vin, tamen oro
        %br/
        Estu preta en monuj'!
      %br/
      %p
        \— Vin mi amas, sed, plej kara,
        %br/
        Mi ne kredis tia vin!
        %br/
        \— Se min amus vi, avara,
        %br/
        Farus vi ja min reĝin'!
  .span6
    %p= t '.libera_traduko'
    %p= t('.dialogo').gsub(/(\s|\n)*—/m, "<br />\n—").html_safe
%p= t '.ekspliko-5'
%p= t '.ekspliko-6'
%p= eo "Okazis eksterordinara io."
%p= t '.ekspliko-7'
%p= eo "Okazis io eksterordinara."
