%h2= t '.prefikso-mal.prefikso-mal'
%p= t '.prefikso-mal.prefikso-mal-ekzpliko'
%ul.fluid-row
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo amiko
      %dd= t '.prefikso-mal.amiko'
      %dt.eo malamiko
      %dd= t '.prefikso-mal.malamiko'
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo nova
      %dd= t '.prefikso-mal.nova'
      %dt.eo malnova
      %dd= t '.prefikso-mal.malnova'
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo avara
      %dd= t '.prefikso-mal.avara'
      %dt.eo malavara
      %dd= t '.prefikso-mal.malavara'
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo bela
      %dd= t '.prefikso-mal.bela'
      %dt.eo malbela
      %dd= t '.prefikso-mal.malbela'
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo juna
      %dd= t '.prefikso-mal.juna'
      %dt.eo maljuna
      %dd= t '.prefikso-mal.maljuna'

%h2= t '.neado.neado'
%p= t '.neado.neado-ekzpliko'
%ul
  %li
    %dl.dl-horizontal
      %dt.eo Mi ne lavos la novan tason.
      %dd= t '.neado.frazo01'
  %li
    %dl.dl-horizontal
      %dt.eo Li ne estas mia frato.
      %dd= t '.neado.frazo02'
  %li
    %dl.dl-horizontal
      %dt.eo Ŝi ne estas mia patrino.
      %dd= t '.neado.frazo03'
  %li
    %dl.dl-horizontal
      %dt.eo La kukoj ne estis varmaj.
      %dd= t '.neado.frazo04'
