.page-header
  %h2 -a
%p= t '.ekspliko'
.row-fluid
  .span4
    %h3 ki-
  .span8
    %dl
      %dt= eo "kia"
      %dd= t '.ki.vorto'
      %dt= eo "Kia estis via tago? — Mia tago estis tre bona, dankon!"
      %dd= t '.ki.frazo'
.row-fluid
  .span4
    %h3 ti-
  .span8
    %dl
      %dt= eo "tia"
      %dd= t '.ti.vorto'
      %dt= eo "Mi ne manĝas tian panon."
      %dd= t '.ti.frazo'
.row-fluid
  .span4
    %h3 i-
  .span8
    %dl
      %dt= eo "ia"
      %dd= t '.i.vorto'
      %dt= eo "Ĉu vi havas ian dubon pri la gramatiko de Esperanto?"
      %dd= t '.i.frazo'
.row-fluid
  .span4
    %h3 neni-
  .span8
    %dl
      %dt= eo "nenia"
      %dd= t '.neni.vorto'
      %dt= eo "Ne, mi havas nenian dubon pri ĝi."
      %dd= t '.neni.frazo'
.row-fluid
  .span4
    %h3 ĉi-
  .span8
    %dl
      %dt= eo "ĉia"
      %dd= t '.ĉi.vorto'
      %dt= eo "Ĉia helpo estas bonvena."
      %dd= t '.ĉi.frazo'
