%h3#korelativoj_es -es
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt ki-
  %dd
    %dl.dl-horinzontal
      %dt.eo kies
      %dd= t '.ki.vorto'
      %dt.eo Kies libro estas tiu? — Tiu estas la libro de Johano!
      %dd= t '.ki.frazo'
  %dt ti-
  %dd
    %dl.dl-horinzontal
      %dt.eo ties
      %dd= t '.ti.vorto'
      %dt.eo La kato kuris sur la domo kaj difektis ties tegmenton.
      %dd= t '.ti.frazo'
  %dt i-
  %dd
    %dl.dl-horinzontal
      %dt.eo ies
      %dd= t '.i.vorto'
      %dt.eo Mi trovis ies libron.
      %dd= t '.i.frazo'
  %dt neni-
  %dd
    %dl.dl-horinzontal
      %dt.eo nenies
      %dd= t '.neni.vorto'
      %dt.eo Esperanto estas nenies propaĵo.
      %dd= t '.neni.frazo'
  %dt ĉi-
  %dd
    %dl.dl-horinzontal
      %dt.eo ĉies
      %dd= t '.ĉi.vorto'
      %dt.eo Esperanto estas ĉies lingvo.
      %dd= t '.ĉi.frazo'
