.page-header
  %h2 -al
%p= t '.ekspliko'
.row
  .col-xs-4
    %h3 ki-
  .col-xs-8
    %dl
      %dt= eo "kial"
      %dd= t '.ki.vorto'
      %dt= eo "Kial la infano kuras? — Ĉar ĝi estas tre ĝoja!"
      %dd= t '.ki.frazo'
.row
  .col-xs-4
    %h3 ti-
  .col-xs-8
    %dl
      %dt= eo "tial"
      %dd= t '.ti.vorto'
      %dt= eo "Ŝi estas tre bela. Tial mi amas ŝin."
      %dd= t '.ti.frazo'
.row
  .col-xs-4
    %h3 i-
  .col-xs-8
    %dl
      %dt= eo "ial"
      %dd= t '.i.vorto'
      %dt= eo "Mi vin ial ankoraŭ ne konas."
      %dd= t '.i.frazo'
.row
  .col-xs-4
    %h3 neni-
  .col-xs-8
    %dl
      %dt= eo "nenial"
      %dd= t '.neni.vorto'
      %dt= eo "Vi povus lin kiom ajn. Li nenial kolerus."
      %dd= t '.neni.frazo'
.row
  .col-xs-4
    %h3 ĉi-
  .col-xs-8
    %dl
      %dt= eo "ĉial"
      %dd= t '.ĉi.vorto'
      %dt= eo "Vi demandas, kial mi amas vin. Mi responda: ĉial!"
      %dd= t '.ĉi.frazo'
