%h3 -el
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt ki-
  %dd= t '.ki.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt.eo kiel
      %dd= t '.ki.vorto'
      %dt.eo Kiel vi fartas? — Mi fartas tre bone, dankon!
      %dd= t '.ki.frazo'
  %dt ti-
  %dd= t '.ti.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt.eo tiel
      %dd= t '.ti.vorto'
      %dt.eo Ŝi skribas tiel bone, kiel la instruistino.
      %dd= t '.ti.frazo'
  %dt i-
  %dd= t '.i.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt.eo iel
      %dd= t '.i.vorto'
      %dt.eo Ŝi iel mi rememorigas min pri aliaj persono.
      %dd= t '.i.frazo'
  %dt neni-
  %dd= t '.neni.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt.eo neniel
      %dd= t '.neni.vorto'
      %dt.eo Mi neniel provas kompreni, kion vi parolas.
      %dd= t '.neni.frazo'
  %dt ĉi-
  %dd= t '.ĉi.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt.eo ĉiel
      %dd= t '.ĉi.vorto'
      %dt.eo Ili ĉiel helpis al mi.
      %dd= t '.ĉi.frazo'
