%h3 -al
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt ki-
  %dd
    %dl.dl-horinzontal
      %dt.eo kial
      %dd= t '.ki.vorto'
      %dt.eo Kial la infano kuras? — Ĉar ĝi estas tre ĝoja!
      %dd= t '.ki.frazo'
  %dt ti-
  %dd
    %dl.dl-horinzontal
      %dt.eo tial
      %dd= t '.ti.vorto'
      %dt.eo Ŝi estas tre bela. Tial mi amas ŝin.
      %dd= t '.ti.frazo'
  %dt i-
  %dd
    %dl.dl-horinzontal
      %dt.eo ial
      %dd= t '.i.vorto'
      %dt.eo Mi vin ial ankoraŭ ne konas.
      %dd= t '.i.frazo'
  %dt neni-
  %dd
    %dl.dl-horinzontal
      %dt.eo nenial
      %dd= t '.neni.vorto'
      %dt.eo Vi povus lin kiom ajn. Li nenial kolerus.
      %dd= t '.neni.frazo'
  %dt ĉi-
  %dd
    %dl.dl-horinzontal
      %dt.eo ĉial
      %dd= t '.ĉi.vorto'
      %dt.eo Vi demandas, kial mi amas vin. Mi responda: ĉial!
      %dd= t '.ĉi.frazo'
