.page-header
  %h2 -es
%p= t '.ekspliko'
.row
  .col-xs-4
    %h3 ki-
  .col-xs-8
    %dl
      %dt= eo "kies"
      %dd= t '.ki.vorto'
      %dt= eo "Kies libro estas tiu? — Tiu estas la libro de Johano!"
      %dd= t '.ki.frazo'
.row
  .col-xs-4
    %h3 ti-
  .col-xs-8
    %dl
      %dt= eo "ties"
      %dd= t '.ti.vorto'
      %dt= eo "La kato kuris sur la domo kaj difektis ties tegmenton."
      %dd= t '.ti.frazo'
.row
  .col-xs-4
    %h3 i-
  .col-xs-8
    %dl
      %dt= eo "ies"
      %dd= t '.i.vorto'
      %dt= eo "Mi trovis ies libron."
      %dd= t '.i.frazo'
.row
  .col-xs-4
    %h3 neni-
  .col-xs-8
    %dl
      %dt= eo "nenies"
      %dd= t '.neni.vorto'
      %dt= eo "Esperanto estas nenies propaĵo."
      %dd= t '.neni.frazo'
.row
  .col-xs-4
    %h3 ĉi-
  .col-xs-8
    %dl
      %dt= eo "ĉies"
      %dd= t '.ĉi.vorto'
      %dt= eo "Esperanto estas ĉies lingvo."
      %dd= t '.ĉi.frazo'
