%h3#korelativoj_a -a
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt ki-
  %dd
    %dl.dl-horinzontal
      %dt.eo kia
      %dd= t '.ki.vorto'
      %dt.eo Kia estis via tago? — Mia tago estis tre bona, dankon!
      %dd= t '.ki.frazo'
  %dt ti-
  %dd
    %dl.dl-horinzontal
      %dt.eo tia
      %dd= t '.ti.vorto'
      %dt.eo Mi ne manĝas tian panon.
      %dd= t '.ti.frazo'
  %dt i-
  %dd
    %dl.dl-horinzontal
      %dt.eo ia
      %dd= t '.i.vorto'
      %dt.eo Ĉu vi havas ian dubon pri la gramatiko de Esperanto?
      %dd= t '.i.frazo'
  %dt neni-
  %dd
    %dl.dl-horinzontal
      %dt.eo nenia
      %dd= t '.neni.vorto'
      %dt.eo Ne, mi havas nenian dubon pri ĝi.
      %dd= t '.neni.frazo'
  %dt ĉi-
  %dd
    %dl.dl-horinzontal
      %dt.eo ĉia
      %dd= t '.ĉi.vorto'
      %dt.eo Ĉia helpo estas bonvena.
      %dd= t '.ĉi.frazo'
