%h3 -om
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt ki-
  %dd
    %dl.dl-horinzontal
      %dt.eo kiom
      %dd= t '.ki.vorto'
      %dt.eo Kiom estas du kaj du? — Kvar!
      %dd= t '.ki.frazo'
  %dt ti-
  %dd
    %dl.dl-horinzontal
      %dt.eo tiom
      %dd= t '.ti.vorto'
      %dt.eo Li manĝis tiom, kiom li volis.
      %dd= t '.ti.frazo'
  %dt i-
  %dd
    %dl.dl-horinzontal
      %dt.eo iom
      %dd= t '.i.vorto'
      %dt.eo Mi devas aĉeti iom da kafo.
      %dd= t '.i.frazo'
  %dt neni-
  %dd
    %dl.dl-horinzontal
      %dt.eo neniom
      %dd= t '.neni.vorto'
      %dt.eo Kiom da infanoj ludas en la domo? — Neniom.
      %dd= t '.neni.frazo'
  %dt ĉi-
  %dd
    %dl.dl-horinzontal
      %dt.eo ĉiom
      %dd= t '.cxi.vorto'
      %dt.eo Kiom da bezino vi volas? — Mi volas ĉiom, kiom vi havas.
      %dd= t '.cxi.frazo'
