%h2= t '.titolo'
%p= t '.ekspliko-1'
%dl.dl-horizontal
  %dt.eo Mi volas tiun fruton, kiun vi montris.
  %dd= t '.frazo-1'
%p= t '.ekspliko-2'
%dl.dl-horizontal
  %dt.eo Mi ne komprenas tion, kion vi diras.
  %dd= t '.frazo-2'
  %dt.eo Mi vidis la homon, kies domo estas blanka.
  %dd= t '.frazo-3'
  %dt.eo Mi renkontis ŝin tie, kie oni vendas kukojn.
  %dd= t '.frazo-4'
  %dt.eo Hieraŭ, kiam mi estis en la urbo, mi aĉetis florojn.
  %dd= t '.frazo-5'
  %dt.eo Ŝi estas tiel bela, kiel la patrino.
  %dd= t '.frazo-6'
  %dt.eo Mi aĉetis tiom, kiom mi bezonis.
  %dd= t '.frazo-7'
