.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'

%h3= t '.kondicionalo.titolo'
%dl.dl-horizontal
  %dt= eo "Se mi <em>estus</em> riĉa, mi <em>vojaĝus</em> multe."
  %dd= t '.kondicionalo.frazo-1'
  %dt= eo "Ni <em>manĝus</em> la panon, se ĝi <em>estus</em> bona."
  %dd= t '.kondicionalo.frazo-2'

%h3= t '.imperativo.titolo'
%dl.dl-horizontal
  %dt= eo "<em>Fermu</em> la pardon kaj <em>eksidu</em>."
  %dd= t '.imperativo.frazo-1'
  %dt= eo "Mi volas, ke vi <em>venu</em>."
  %dd= t '.imperativo.frazo-2'
  %dt= eo "<em>Vivu</em> Esperanto!"
  %dd= t '.imperativo.frazo-3'
  %dt= eo "Ŝi petis, ke mi <em>restu</em>."
  %dd= t '.imperativo.frazo-4'
%p= t '.imperativo.ekspliko-1'
%dl.dl-horizontal
  %dt= eo "Ni dormu / Ili dormu"
  %dd= t '.imperativo.frazo-5'
%p= t '.imperativo.ekspliko-2'
%dl.dl-horizontal
  %dt= eo "Mi esperas, ke li <em>venos</em>."
  %dd= t '.imperativo.frazo-6'
  %dt= eo "Mi sugestas, ke li <em>venu</em>."
  %dd= t '.imperativo.frazo-7'
  %dt= eo "Estas eble, ke li <em>venos</em>."
  %dd= t '.imperativo.frazo-8'

%p= t '.nerekta.ekspliko'
%dl.dl-horizontal
  %dt= eo "Li diris: \"Mi <em>venas</em> de Nov-Jorko\"."
  %dd= t '.nerekta.frazo-1'
  %dt= eo "Li diris, ke <em>venas</em> de Nov-Jorko."
  %dd= t '.nerekta.frazo-2'
  %dt= eo "Ŝi diris: \"Mi <em>vojaĝos</em> al Parizo\"."
  %dd= t '.nerekta.frazo-3'
  %dt= eo "Ŝi diris, ke ve <em>vojaĝos</em> al Parizo."
  %dd= t '.nerekta.frazo-4'
