%p= t '.ekspliko'
%dl
  %dt= eo "Li diris: \"Mi <em>venas</em> de Nov-Jorko\"."
  %dd= t '.frazo-1'
  %dt= eo "Li diris, ke <em>venas</em> de Nov-Jorko."
  %dd= t '.frazo-2'
  %dt= eo "Ŝi diris: \"Mi <em>vojaĝos</em> al Parizo\"."
  %dd= t '.frazo-3'
  %dt= eo "Ŝi diris, ke ŝi <em>vojaĝos</em> al Parizo."
  %dd= t '.frazo-4'
