.page-header
  %h2= t '.titolo'
%p= t '.ekspliko-1'
%h3= t '.aktiva_voĉo.titolo'
%ul
  %li
    = t '.aktiva_voĉo.presenco'
    = ekzemploj do
      %dl
        %dt= eo "Mi estas leganta."
        %dd= t '.aktiva_voĉo.frazo-presenco'
  %li
    = t '.aktiva_voĉo.preterito'
    = ekzemploj do
      %dl
        %dt= eo "Mi estas leginta."
        %dd= t '.aktiva_voĉo.frazo-preterito'
  %li
    = t '.aktiva_voĉo.futuro'
    = ekzemploj do
      %dl
        %dt= eo "Mi estas legonta."
        %dd= t '.aktiva_voĉo.frazo-futuro'
%h3= t '.pasiva_voĉo.titolo'
%ul
  %li
    = t '.pasiva_voĉo.presenco'
    = ekzemploj do
      %dl
        %dt= eo "La libro estas legata."
        %dd= t '.pasiva_voĉo.frazo-presenco'
  %li
    = t '.pasiva_voĉo.preterito'
    = ekzemploj do
      %dl
        %dt= eo "La libro estas legita."
        %dd= t '.pasiva_voĉo.frazo-preterito'
  %li
    = t '.pasiva_voĉo.futuro'
    = ekzemploj do
      %dl
        %dt= eo "La libro estas legota."
        %dd= t '.pasiva_voĉo.frazo-futuro'
= rimarkigo do
  %dl
    %dt= eo "Mi legas la libron = La libro estas legata de mi."
    %dd= t '.pasiva_voĉo.frazo-ekstra'
%p= t '.ekspliko-2'
%dl
  %dt= eo "La leganto havas bonan voĉon, sed la antaŭa leginto havis pli bonan."
  %dd= t '.frazo-1'
  %dt= eo "Mi opinias tamen, ke la legonto havos la plej bonan voĉon el ĉiuj."
  %dd= t '.frazo-2'
  %dt= eo "Manĝonte la pomon, li ekvidis la vermon."
  %dd= t '.frazo-3'
  %dt= eo "Legante ni lernas."
  %dd= t '.frazo-4'
  %dt= eo "La konstruata domo."
  %dd= t '.frazo-5'
  %dt= eo "La skribota letero."
  %dd= t '.frazo-6'
  %dt= eo "La fermita pordo."
  %dd= t '.frazo-7'
  %dt= eo "Leviĝanta suno."
  %dd= t '.frazo-8'
  %dt= eo "La postvivintoj."
  %dd= t '.frazo-9'
  %dt= eo "Kuranta monato."
  %dd= t '.frazo-10'
  %dt= eo "Pagantaj membroj."
  %dd= t '.frazo-11'
%p= t '.ekspliko-3'
%ul.list-unstyled
  %li
    = eo "Antaŭ la konsulto:"
    %ul
      %li= eo "La persono <em>estas konsultonta</em>."
      %li= eo "La kuracisto <em>estas konsultota</em>."
  %li
    = eo "Dum la konsulto:"
    %ul
      %li= eo "La persono <em>estas konsultanta</em>."
      %li= eo "La kuracisto <em>estas konsultata</em>."
  %li
    = eo "Post la konsulto:"
    %ul
      %li= eo "La persono <em>estas konsultinta</em>."
      %li= eo "La kuracisto <em>estas konsultita</em>."
%p= t '.ekspliko-4'
%ul.list-unstyled
  %li
    = eo "Antaŭ la konsulto:"
    %ul
      %li= eo "La persono <em>estis konsultonta</em>."
      %li= eo "La kuracisto <em>estis konsultota</em>."
  %li
    = eo "Dum la konsulto:"
    %ul
      %li= eo "La persono <em>estis konsultanta</em>."
      %li= eo "La kuracisto <em>estis konsultata</em>."
  %li
    = eo "Post la konsulto:"
    %ul
      %li= eo "La persono <em>estis konsultinta</em>."
      %li= eo "La kuracisto <em>estis konsultita</em>."
%p= t '.ekspliko-5'
%ul.list-unstyled
  %li
    = eo "Antaŭ la konsulto:"
    %ul
      %li= eo "La persono <em>estos konsultonta</em>."
      %li= eo "La kuracisto <em>estos konsultota</em>."
  %li
    = eo "Dum la konsulto:"
    %ul
      %li= eo "La persono <em>estos konsultanta</em>."
      %li= eo "La kuracisto <em>estos konsultata</em>."
  %li
    = eo "Post la konsulto:"
    %ul
      %li= eo "La persono <em>estos konsultinta</em>."
      %li= eo "La kuracisto <em>estos konsultita</em>."
