.page-header
  %h2= t '.titolo'
%p= t '.ekspliko-1'
%dl.dl-horizontal
  %dt.eo Johano lavis sin.
  %dd= t '.frazo-1'
  %dt.eo Johano lavis lin.
  %dd= t '.frazo-2'
  %dt.eo Sofia diris al si.
  %dd= t '.frazo-3'
  %dt.eo Sofia diris al ŝi.
  %dd= t '.frazo-4'
%p= t '.ekspliko-2'
%dl.dl-horizontal
  %dt.eo Li vivas feliĉe kun <em>sia</em> filo.
  %dd= t '.frazo-5'
  %dt.eo Li kaj <em>lia</em> filo vivas feliĉe.
  %dd= t '.frazo-6'
