.page-header
  %h2 -u
%p= t '.ekspliko'
.row-fluid
  .span4
    %h3 ki-
    %p= t '.ki.ekspliko'
  .span8
    %dl
      %dt= eo "kiu"
      %dd= t '.ki.vorto'
      %dt= eo "Kiu estis via unua instruisto? — Sinjoro Karlo."
      %dd= t '.ki.frazo'
.row-fluid
  .span4
    %h3 ti-
    %p= t '.ti.ekspliko'
  .span8
    %dl
      %dt= eo "tiu"
      %dd= t '.ti.vorto'
      %dt= eo "Tiu libro estas tre bona."
      %dd= t '.ti.frazo'
.row-fluid
  .span4
    %h3 i-
    %p= t '.i.ekspliko'
  .span8
    %dl
      %dt= eo "iu"
      %dd= t '.i.vorto'
      %dt= eo "Venis iuj personoj, kiujn mi ne konas."
      %dd= t '.i.frazo'
.row-fluid
  .span4
    %h3 neni-
    %p= t '.neni.ekspliko'
  .span8
    %dl
      %dt= eo "neniu"
      %dd= t '.neni.vorto'
      %dt= eo "Kiu venis hieraŭ? — Neniu venis hieraŭ."
      %dd= t '.neni.frazo'
.row-fluid
  .span4
    %h3 ĉi-
    %p= t '.ĉi.ekspliko'
  .span8
    %dl
      %dt= eo "ĉiu"
      %dd= t '.ĉi.vorto'
      %dt= eo "Ĉiu homoj amas sin mem."
      %dd= t '.ĉi.frazo'
