.page-header
  %h3 -am
%p= t '.ekspliko'
.row-fluid
  .span4
    %h3 ki-
  .span8
    %dl
      %dt= eo "kiam"
      %dd= t '.ki.vorto'
      %dt= eo "Kiam vi aĉetos la libron? — Morgaŭ matene."
      %dd= t '.ki.frazo'
.row-fluid
  .span4
    %h3 ti-
  .span8
    %dl
      %dt= eo "tiam"
      %dd= t '.ti.vorto'
      %dt= eo "Mi lernis Esperanton tiam, kiam mi estis en lernejo."
      %dd= t '.ti.frazo'
.row-fluid
  .span4
    %h3 i-
  .span8
    %dl
      %dt= eo "iam"
      %dd= t '.i.vorto'
      %dt= eo "Ĉu vi iam vizitis Brazilon."
      %dd= t '.i.frazo'
.row-fluid
  .span4
    %h3 neni-
  .span8
    %dl
      %dt= eo "neniam"
      %dd= t '.neni.vorto'
      %dt= eo "Ne, mi neniam vizitis tiun landon."
      %dd= t '.neni.frazo'
.row-fluid
  .span4
    %h3 ĉi-
  .span8
    %dl
      %dt= eo "ĉiam"
      %dd= t '.ĉi.vorto'
      %dt= eo "Tamen mi ĉiam deziris viziti ĝin."
      %dd= t '.ĉi.frazo'
