.page-header
  %h3 -e
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt ki-
  %dd= t '.ki.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt= eo "kie"
      %dd= t '.ki.vorto'
      %dt= eo "Kie vi loĝas? — Mi loĝas en Kanado."
      %dd= t '.ki.frazo'
  %dt ti-
  %dd= t '.ti.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt= eo "tie"
      %dd= t '.ti.vorto'
      %dt= eo "Mi loĝas tie, kie estas la aŭto."
      %dd= t '.ti.frazo'
  %dt i-
  %dd= t '.i.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt= eo "ie"
      %dd= t '.i.vorto'
      %dt= eo "Mia krajono estas ie en la ĝardeno."
      %dd= t '.i.frazo'
  %dt neni-
  %dd= t '.neni.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt= eo "nenie"
      %dd= t '.neni.vorto'
      %dt= eo "Nenie mi trovis mian libron."
      %dd= t '.neni.frazo'
  %dt ĉi-
  %dd= t '.ĉi.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt= eo "ĉie"
      %dd= t '.ĉi.vorto'
      %dt= eo "Malsaĝulo ĉie sian nomon skribas."
      %dd= t '.ĉi.frazo'
