.page-header
  %h3 Ĉi
%p= t '.ekspliko'
%dl
  %dt
    %ul.list-inline
      %li= eo "Kio estas ĉi tio?"
      %li= eo "Kio estas tio ĉi?"
  %dd= t '.frazo-1'
%dl
  %dt
    %ul.list-inline
      %li= eo "Ĉi tio estas besto."
      %li= eo "Tio ĉi estas besto."
  %dd= t '.frazo-2'
%dl
  %dt
    %ul.list-inline
      %li= eo "Ĉi tiu estas mia domo."
      %li= eo "Tiu ĉi estas mia domo."
  %dd= t '.frazo-3'
= rimarkigo do
  %p= t '.rimarkigo'
