.page-header
  %h3 -o
%p= t '.ekspliko'
.row
  .col-xs-4
    %h3 ki-
  .col-xs-8
    %dl
      %dt= eo "kio"
      %dd= t '.ki.vorto'
      %dt= eo "Kio estas geografio? — Geografio estas scienco."
      %dd= t '.ki.frazo'
.row
  .col-xs-4
    %h3 ti-
  .col-xs-8
    %dl
      %dt= eo "tio"
      %dd= t '.ti.vorto'
      %dt= eo "Kio estas tio? — Tio estas muzikilo."
      %dd= t '.ti.frazo'
.row
  .col-xs-4
    %h3 i-
  .col-xs-8
    %dl
      %dt= eo "io"
      %dd= t '.i.vorto'
      %dt= eo "Io okazis!"
      %dd= t '.i.frazo'
.row
  .col-xs-4
    %h3 neni-
  .col-xs-8
    %dl
      %dt= eo "nenio"
      %dd= t '.neni.vorto'
      %dt= eo "Pli bona io, ol nenio."
      %dd= t '.neni.frazo'
.row
  .col-xs-4
    %h3 ĉi-
  .col-xs-8
    %dl
      %dt= eo "ĉio"
      %dd= t '.ĉi.vorto'
      %dt= eo "Mi forgesis ĉion."
      %dd= t '.ĉi.frazo'
