%h3 -u
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt ki-
  %dd= t '.ki.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt.eo kiu
      %dd= t '.ki.vorto'
      %dt.eo Kiu estis via unua instruisto? — Sinjoro Karlo.
      %dd= t '.ki.frazo'
  %dt ti-
  %dd= t '.ti.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt.eo tiu
      %dd= t '.ti.vorto'
      %dt.eo Tiu libro estas tre bona.
      %dd= t '.ti.frazo'
  %dt i-
  %dd= t '.i.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt.eo iu
      %dd= t '.i.vorto'
      %dt.eo Venis iuj personoj, kiujn mi ne konas.
      %dd= t '.i.frazo'
  %dt neni-
  %dd= t '.neni.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt.eo neniu
      %dd= t '.neni.vorto'
      %dt.eo Kiu venis hieraŭ? — Neniu venis hieraŭ.
      %dd= t '.neni.frazo'
  %dt ĉi-
  %dd= t '.cxi.ekspliko'
  %dd
    %dl.dl-horinzontal
      %dt.eo ĉiu
      %dd= t '.cxi.vorto'
      %dt.eo Ĉiu homoj amas sin mem.
      %dd= t '.cxi.frazo'
