%h3 Ĉi
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt.eo Kio estas ĉi tio? ( = Kio estas tio ĉi? )
  %dd= t '.frazo-1'
  %dt.eo Ĉi tio estas besto. ( = Tio ĉi estas besto. )
  %dd= t '.frazo-2'
  %dt.eo Ĉi tiu estas mia domo. ( = Tiu ĉi estas mia domo. )
  %dd= t '.frazo-3'
= rimarkigo do
  %p= t '.rimarkigo'
