.page-header
  %h3 -am
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt ki-
  %dd
    %dl.dl-horinzontal
      %dt= eo "kiam"
      %dd= t '.ki.vorto'
      %dt= eo "Kiam vi aĉetos la libron? — Morgaŭ matene."
      %dd= t '.ki.frazo'
  %dt ti-
  %dd
    %dl.dl-horinzontal
      %dt= eo "tiam"
      %dd= t '.ti.vorto'
      %dt= eo "Mi lernis Esperanton tiam, kiam mi estis en lernejo."
      %dd= t '.ti.frazo'
  %dt i-
  %dd
    %dl.dl-horinzontal
      %dt= eo "iam"
      %dd= t '.i.vorto'
      %dt= eo "Ĉu vi iam vizitis Brazilon."
      %dd= t '.i.frazo'
  %dt neni-
  %dd
    %dl.dl-horinzontal
      %dt= eo "neniam"
      %dd= t '.neni.vorto'
      %dt= eo "Ne, mi neniam vizitis tiun landon."
      %dd= t '.neni.frazo'
  %dt ĉi-
  %dd
    %dl.dl-horinzontal
      %dt= eo "ĉiam"
      %dd= t '.ĉi.vorto'
      %dt= eo "Tamen mi ĉiam deziris viziti ĝin."
      %dd= t '.ĉi.frazo'
