.page-header
  %h2 -e
%p= t '.ekspliko'
.row-fluid
  .span4
    %h3 ki-
    %p= t '.ki.ekspliko'
  .span8
    %dl
      %dt= eo "kie"
      %dd= t '.ki.vorto'
      %dt= eo "Kie vi loĝas? — Mi loĝas en Kanado."
      %dd= t '.ki.frazo'
.row-fluid
  .span4
    %h3 ti-
    %p= t '.ti.ekspliko'
  .span8
    %dl
      %dt= eo "tie"
      %dd= t '.ti.vorto'
      %dt= eo "Mi loĝas tie, kie estas la aŭto."
      %dd= t '.ti.frazo'
.row-fluid
  .span4
    %h3 i-
    %p= t '.i.ekspliko'
  .span8
    %dl
      %dt= eo "ie"
      %dd= t '.i.vorto'
      %dt= eo "Mia krajono estas ie en la ĝardeno."
      %dd= t '.i.frazo'
.row-fluid
  .span4
    %h3 neni-
    %p= t '.neni.ekspliko'
  .span8
    %dl
      %dt= eo "nenie"
      %dd= t '.neni.vorto'
      %dt= eo "Nenie mi trovis mian libron."
      %dd= t '.neni.frazo'
.row-fluid
  .span4
    %h3 ĉi-
    %p= t '.ĉi.ekspliko'
  .span8
    %dl
      %dt= eo "ĉie"
      %dd= t '.ĉi.vorto'
      %dt= eo "Malsaĝulo ĉie sian nomon skribas."
      %dd= t '.ĉi.frazo'
