.page-header
  %h2= t 'lecionoj.aliaj.dividitoj.vortaro'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "aĉeti"
      %dd= t '.aĉeti'
  .span6
    %dl.dl-horizontal
      %dt= eo "al"
      %dd= t '.al'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "anonco"
      %dd= t '.anonco'
  .span6
    %dl.dl-horizontal
      %dt= eo "biciklo"
      %dd= t '.biciklo'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "bildkarto"
      %dd= t '.bildkarto'
  .span6
    %dl.dl-horizontal
      %dt= eo "bildo"
      %dd= t '.bildo'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "ĉambro"
      %dd= t '.ĉambro'
  .span6
    %dl.dl-horizontal
      %dt= eo "ĉokolado"
      %dd= t '.ĉokolado'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "danco"
      %dd= t '.danco'
  .span6
    %dl.dl-horizontal
      %dt= eo "de"
      %dd= t '.de'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "deziri"
      %dd= t '.deziri'
  .span6
    %dl.dl-horizontal
      %dt= eo "domo"
      %dd= t '.domo'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "edzo"
      %dd= t '.edzo'
  .span6
    %dl.dl-horizontal
      %dt= eo "el"
      %dd= t '.el'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "loĝi"
      %dd= t '.loĝi'
  .span6
    %dl.dl-horizontal
      %dt= eo "geografio"
      %dd= t '.geografio'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "gustumi"
      %dd= t '.gustumi'
  .span6
    %dl.dl-horizontal
      %dt= eo "ĝojo"
      %dd= t '.ĝojo'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "jam"
      %dd= t '.jam'
  .span6
    %dl.dl-horizontal
      %dt= eo "ĵaluza"
      %dd= t '.ĵaluza'
