.page-header
  %h2= t '.titolo'
%p= t '.egaleco.ekspliko'
%dl
  %dt.eo Esperanto estas TIEL bela, KIEL utila.
  %dd= t '.egaleco.frazo-1'
  %dt.eo Nenio estas TIEL valora, KIEL la sano.
  %dd= t '.egaleco.frazo-2'
  %dt.eo Ŝi estas TIEL bela, KIEL la patrino.
  %dd= t '.egaleco.frazo-3'
%p= t '.supereco.ekspliko'
%dl
  %dt.eo Johana estas PLI alta, OL patro.
  %dd= t '.supereco.frazo-1'
  %dt.eo Lakto is PLI nutra, OL vino.
  %dd= t '.supereco.frazo-2'
  %dt.eo La suno estas PLI granda, OL la luno.
  %dd= t '.supereco.frazo-3'
%p= t '.malsupereco.ekspliko'
%dl
  %dt.eo Mia frato estas MALPLI aĝa, OL mi.
  %dd= t '.malsupereco.frazo-1'
  %dt.eo Li skribas MALPLI bele, OL la knabino.
  %dd= t '.malsupereco.frazo-2'
  %dt.eo La edzo parolas MALPLI laŭte, OL la edzino.
  %dd= t '.malsupereco.frazo-3'
