.page-header
  %h2= t '.titolo'
%p= t '.egaleco.ekspliko'
%dl
  %dt= eo "Esperanto estas <em>tiel</em> bela, <em>kiel</em> utila."
  %dd= t '.egaleco.frazo-1'
  %dt= eo "Nenio estas <em>tiel</em> valora, <em>kiel</em> la sano."
  %dd= t '.egaleco.frazo-2'
  %dt= eo "Ŝi estas <em>tiel</em> bela, <em>kiel</em> la patrino."
  %dd= t '.egaleco.frazo-3'
%p= t '.supereco.ekspliko'
%dl
  %dt= eo "Johana estas <em>pli</em> alta, <em>ol</em> patro."
  %dd= t '.supereco.frazo-1'
  %dt= eo "Lakto is <em>pli</em> nutra, <em>ol</em> vino."
  %dd= t '.supereco.frazo-2'
  %dt= eo "La suno estas <em>pli</em> granda, <em>ol</em> la luno."
  %dd= t '.supereco.frazo-3'
%p= t '.malsupereco.ekspliko'
%dl
  %dt= eo "Mia frato estas <em>malpli</em> aĝa, <em>ol</em> mi."
  %dd= t '.malsupereco.frazo-1'
  %dt= eo "Li skribas <em>malpli</em> bele, <em>ol</em> la knabino."
  %dd= t '.malsupereco.frazo-2'
  %dt= eo "La edzo parolas <em>malpli</em> laŭte, OL la edzino."
  %dd= t '.malsupereco.frazo-3'
