.page-header
  %h2= t '.titolo'
%h3 bo-
%p= t '.bo.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "bopatro"
      %dd= t '.bo.bopatro'
      %dt= eo "bopatrino"
      %dd= t '.bo.bopatrino'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "bofilo"
      %dd= t '.bo.bofilo'
      %dt= eo "bofratino"
      %dd= t '.bo.bofratino'
%h3 dis-
%p= t '.dis.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "disflugi"
      %dd= t '.dis.disflugi'
      %dt= eo "disfali"
      %dd= t '.dis.disfali'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "disdoni"
      %dd= t '.dis.disdoni'
      %dt= eo "dissemi"
      %dd= t '.dis.dissemi'
%h3 ek-
%p= t '.ek.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ekiri"
      %dd= t '.ek.ekiri'
      %dt= eo "ekbrilo"
      %dd= t '.ek.ekbrilo'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ekdormi"
      %dd= t '.ek.ekdormi'
      %dt= eo "ekpluvi"
      %dd= t '.ek.ekpluvi'
%h3 eks-
%p= t '.eks.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "eksfianĉo"
      %dd= t '.eks.eksfianĉo'
      %dt= eo "eksprezidanto"
      %dd= t '.eks.eksprezidanto'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "eksiĝi"
      %dd= t '.eks.eksiĝi'
      %dt= eo "eksedziĝi"
      %dd= t '.eks.eksedziĝi'
%h3 fi-
%p= t '.fi.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "fidomo"
      %dd= t '.fi.fidomo'
      %dt= eo "fivirino"
      %dd= t '.fi.fivirino'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "komercisto"
      %dd= t '.fi.komercisto'
      %dt= eo "fikomercisto"
      %dd= t '.fi.fikomercisto'
%h3 ge-
%p= t '.ge.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "gefiloj"
      %dd= t '.ge.gefiloj'
      %dt= eo "gefratoj"
      %dd= t '.ge.gefratoj'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "gepatroj"
      %dd= t '.ge.gepatroj'
      %dt= eo "geamikoj"
      %dd= t '.ge.geamikoj'
%h3 mal-
%p= t '.mal.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "dekstro"
      %dd= t '.mal.dekstro'
      %dt= eo "maldekstro"
      %dd= t '.mal.maldekstro'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "fermi"
      %dd= t '.mal.fermi'
      %dt= eo "malfermi"
      %dd= t '.mal.malfermi'
%h3 pra-
%p= t '.pra.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "nepo"
      %dd= t '.pra.nepo'
      %dt= eo "pranepo"
      %dd= t '.pra.pranepo'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "historio"
      %dd= t '.pra.historio'
      %dt= eo "prahistorio"
      %dd= t '.pra.prahistorio'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "prahomo"
      %dd= t '.pra.prahomo'
      %dt= eo "praavo"
      %dd= t '.pra.praavo'
%h3 re-
%p= t '.re.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "reaperi"
      %dd= t '.re.reaperi'
      %dt= eo "reteni"
      %dd= t '.re.reteni'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "refari"
      %dd= t '.re.refari'
      %dt= eo "reveni"
      %dd= t '.re.reveni'
%h3 mis-
%p= t '.mis.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "kompreni"
      %dd= t '.mis.kompreni'
      %dt= eo "miskompreni"
      %dd= t '.mis.miskompreni'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "uzo"
      %dd= t '.mis.uzo'
      %dt= eo "misuzo"
      %dd= t '.mis.misuzo'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "paŝo"
      %dd= t '.mis.paŝo'
      %dt= eo "mispaŝo"
      %dd= t '.mis.mispaŝo'
%h3 duon-
%p= t '.duon.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "horo"
      %dd= t '.duon.horo'
      %dt= eo "duonhoro"
      %dd= t '.duon.duonhoro'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "filino"
      %dd= t '.duon.filino'
      %dt= eo "duonfilino"
      %dd= t '.duon.duonfilino'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "duondio"
      %dd= t '.duon.duondio'
      %dt= eo "duonlumo"
      %dd= t '.duon.duonlumo'

