.page-header
  %h2= t '.titolo'
%h3 -aĉ
%p= t '.aĉ.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "domo"
      %dd= t '.aĉ.domo'
      %dt= eo "domaĉo"
      %dd= t '.aĉ.domaĉo'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "skribi"
      %dd= t '.aĉ.skribi'
      %dt= eo "skribaĉi"
      %dd= t '.aĉ.skribaĉi'
%h3 -ad
%p= t '.ad.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "paroli"
      %dd= t '.ad.paroli'
      %dt= eo "parolado"
      %dd= t '.ad.parolado'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "rigardi"
      %dd= t '.ad.rigardi'
      %dt= eo "rigardadi"
      %dd= t '.ad.rigardadi'
%h3 -aĵ
%p= t '.aĵ.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "dolĉa"
      %dd= t '.aĵ.dolĉa'
      %dt= eo "dolĉaĵo"
      %dd= t '.aĵ.dolĉaĵo'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "pentri"
      %dd= t '.aĵ.pentri'
      %dt= eo "pentraĵo"
      %dd= t '.aĵ.pentraĵo'
%h3 -an
%p= t '.an.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "eŭropano"
      %dd= t '.an.eŭropano'
      %dt= eo "brazilano"
      %dd= t '.an.brazilano'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "kanadano"
      %dd= t '.an.kanadano'
      %dt= eo "usonano"
      %dd= t '.an.usonano'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "Kristo"
      %dd= t '.an.kristo'
      %dt= eo "kristano"
      %dd= t '.an.kristano'
%h3 -ar
%p= t '.ar.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "vorto"
      %dd= t '.ar.vorto'
      %dt= eo "vortaro"
      %dd= t '.ar.vortaro'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ŝafo"
      %dd= t '.ar.ŝafo'
      %dt= eo "ŝafaro"
      %dd= t '.ar.ŝafaro'
%h3 -ĉj
%p= t '.ĉj.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "patro"
      %dd= t '.ĉj.patro'
      %dt= eo "paĉjo"
      %dd= t '.ĉj.paĉjo'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "Jozefo"
      %dd= t '.ĉj.jozefo'
      %dt= eo "Joĉjo"
      %dd= t '.ĉj.joĉjo'
%h3 -ebl
%p= t '.ebl.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "vidi"
      %dd= t '.ebl.vidi'
      %dt= eo "videbla"
      %dd= t '.ebl.videbla'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "kredi"
      %dd= t '.ebl.kredi'
      %dt= eo "kredebla"
      %dd= t '.ebl.kredebla'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "legi"
      %dd= t '.ebl.legi'
      %dt= eo "legebla"
      %dd= t '.ebl.legebla'
%h3 -ec
%p= t '.ec.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "mola"
      %dd= t '.ec.mola'
      %dt= eo "moleco"
      %dd= t '.ec.moleco'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "amiko"
      %dd= t '.ec.amiko'
      %dt= eo "amikeco"
      %dd= t '.ec.amikeco'
%h3 -eg
%p= t '.eg.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "vento"
      %dd= t '.eg.vento'
      %dt= eo "ventego"
      %dd= t '.eg.ventego'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ridi"
      %dd= t '.eg.ridi'
      %dt= eo "ridegi"
      %dd= t '.eg.ridegi'
%h3 -ej
%p= t '.ej.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "preĝi"
      %dd= t '.ej.preĝi'
      %dt= eo "preĝejo"
      %dd= t '.ej.preĝejo'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ofico"
      %dd= t '.ej.ofico'
      %dt= eo "oficejo"
      %dd= t '.ej.oficejo'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ĉevalo"
      %dd= t '.ej.ĉevalo'
      %dt= eo "ĉevalejo"
      %dd= t '.ej.ĉevalejo'
%h3 -em
%p= t '.em.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ŝpari"
      %dd= t '.em.ŝpari'
      %dt= eo "ŝparema"
      %dd= t '.em.ŝparema'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "babili"
      %dd= t '.em.babili'
      %dt= eo "babilema"
      %dd= t '.em.babilema'
%h3 -end
%p= t '.end.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "legi"
      %dd= t '.end.legi'
      %dt= eo "legenda"
      %dd= t '.end.legenda'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "fari"
      %dd= t '.end.fari'
      %dt= eo "farenda"
      %dd= t '.end.farenda'
