.page-header
  %h2= t '.titolo'
%p= t '.ekspliko-1'
%dl
  %dt= eo "EL ĉiuj miaj infanoj Ernesto estas la PLEJ juna."
  %dd= t '.frazo-1'
  %dt= eo "EL ĉiuj miaj kolegoj Marko estas la PLEJ forta."
  %dd= t '.frazo-2'
  %dt= eo "La PLEJ belan knabinon ili elektis kiel reĝinon."
  %dd= t '.frazo-3'
%p= t '.ekspliko-2'
%dl
  %dt= eo "La PLI forta el la manoj."
  %dd= t '.frazo-4'
  %dt= eo "La lernantoj PLI aĝaj instruis tiujn MALPLI aĝajn."
  %dd= t '.frazo-5'
