%h2 Lecionoj
%ul.unstyled
  %li= link_to 'Leciono 1', leciono01_path(locale: I18n.locale)
  %li= link_to 'Leciono 2', leciono02_path(locale: I18n.locale)
  %li= link_to 'Leciono 3', leciono03_path(locale: I18n.locale)
  %li= link_to 'Leciono 4', leciono04_path(locale: I18n.locale)
  %li= link_to 'Leciono 5', leciono05_path(locale: I18n.locale)
  %li= link_to 'Leciono 6', leciono06_path(locale: I18n.locale)
  %li= link_to 'Leciono 7', leciono07_path(locale: I18n.locale)
