%h2 Lecionoj
%ul.unstyled
  %li= link_to 'Leciono 1',  leciono01_path
  %li= link_to 'Leciono 2',  leciono02_path
  %li= link_to 'Leciono 3',  leciono03_path
  %li= link_to 'Leciono 4',  leciono04_path
  %li= link_to 'Leciono 5',  leciono05_path
  %li= link_to 'Leciono 6',  leciono06_path
  %li= link_to 'Leciono 7',  leciono07_path
  %li= link_to 'Leciono 8',  leciono08_path
  %li= link_to 'Leciono 9',  leciono09_path
  %li= link_to 'Leciono 10', leciono10_path
