%h2= t '.adjektivoj.adjektivoj-el-numeraloj'
%p= t '.adjektivoj.adjektivoj-el-numeraloj-ekzpliko'
%ul.fluid-row
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo tri
      %dd= t '.adjektivoj.vortoj.tri'
      %dt.eo tria
      %dd= t '.adjektivoj.vortoj.tria'
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo dek
      %dd= t '.adjektivoj.vortoj.dek'
      %dt.eo deka
      %dd= t '.adjektivoj.vortoj.deka'
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo dek naŭ
      %dd= t '.adjektivoj.vortoj.dek-naux'
      %dt.eo dek-naŭa
      %dd= t '.adjektivoj.vortoj.dek-nauxa'
%dl.dl-horizontal
  %dt.eo La unuaj knaboj venas.
  %dd= t '.adjektivoj.frazoj.frazo-adjektivoj-1'
  %dt.eo Li kaptis la trian insekton.
  %dd= t '.adjektivoj.frazoj.frazo-adjektivoj-2'

%h2= t '.adverboj.adverboj-el-numeraloj'
%p= t '.adverboj.adverboj-el-numeraloj-ekzpliko'
%ul.fluid-row
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo unu
      %dd= t '.adverboj.vortoj.unu'
      %dt.eo unue
      %dd= t '.adverboj.vortoj.unue'
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo du
      %dd= t '.adverboj.vortoj.du'
      %dt.eo due
      %dd= t '.adverboj.vortoj.due'
%dl.dl-horizontal
  %dt.eo Li unue trinkos akvon.
  %dd= t '.adverboj.frazoj.frazo-adverboj-1'
