%h2= t '.adverboj.adverboj'
%p= t '.adverboj.adverboj-ekzpliko-1'
%p= t '.adverboj.adverboj-ekzpliko-2'
%ul.fluid-row
  %li.span6
    %dl.dl-horizontal
      %dt.eo sano
      %dd= t '.adverboj.vortoj.sano'
  %li.span6
    %dl.dl-horizontal
      %dt.eo Li havas bonan sanon.
      %dd= t '.adverboj.frazoj.frazo-sano'
  %li.span6
    %dl.dl-horizontal
      %dt.eo sana
      %dd= t '.adverboj.vortoj.sana'
  %li.span6
    %dl.dl-horizontal
      %dt.eo Li estas sana.
      %dd= t '.adverboj.frazoj.frazo-sana'
  %li.span6
    %dl.dl-horizontal
      %dt.eo sani
      %dd= t '.adverboj.vortoj.sani'
  %li.span6
    %dl.dl-horizontal
      %dt.eo Li sanas.
      %dd= t '.adverboj.frazoj.frazo-sani'
  %li.span6
    %dl.dl-horizontal
      %dt.eo sane
      %dd= t '.adverboj.vortoj.sane'
  %li.span6
    %dl.dl-horizontal
      %dt.eo Li sane vivas.
      %dd= t '.adverboj.frazoj.frazo-sane'
= rimarkigo do
  %p= t '.adverboj.adverboj-rimarkigo'
