%h2= t '.numeraloj'
%ul
  %li
    %dl.dl-horizontal
      %dt= l 1
      %dd.eo unu
  %li
    %dl.dl-horizontal
      %dt= l 2
      %dd.eo du
  %li
    %dl.dl-horizontal
      %dt= l 3
      %dd.eo tri
  %li
    %dl.dl-horizontal
      %dt= l 4
      %dd.eo kvar
  %li
    %dl.dl-horizontal
      %dt= l 5
      %dd.eo kvin
  %li
    %dl.dl-horizontal
      %dt= l 6
      %dd.eo ses
  %li
    %dl.dl-horizontal
      %dt= l 7
      %dd.eo sep
  %li
    %dl.dl-horizontal
      %dt= l 8
      %dd.eo ok
  %li
    %dl.dl-horizontal
      %dt= l 9
      %dd.eo naŭ
  %li
    %dl.dl-horizontal
      %dt= l 10
      %dd.eo dek
  %li
    %dl.dl-horizontal
      %dt= l 11
      %dd.eo dek unu
  %li
    %dl.dl-horizontal
      %dt= l 12
      %dd.eo dek du
  %li
    %dl.dl-horizontal
      %dt= l 13
      %dd.eo dek tri
  %li
    %dl.dl-horizontal
      %dt= l 14
      %dd.eo dek kvar
  %li
    %dl.dl-horizontal
      %dt= l 20
      %dd.eo dudek
  %li
    %dl.dl-horizontal
      %dt= l 21
      %dd.eo dudek unu
  %li
    %dl.dl-horizontal
      %dt= l 22
      %dd.eo dudek du
  %li
    %dl.dl-horizontal
      %dt= l 30
      %dd.eo tridek
  %li
    %dl.dl-horizontal
      %dt= l 31
      %dd.eo tridek unu
  %li
    %dl.dl-horizontal
      %dt= l 32
      %dd.eo tridek du
  %li
    %dl.dl-horizontal
      %dt= l 40
      %dd.eo kvardek
  %li
    %dl.dl-horizontal
      %dt= l 50
      %dd.eo kvindek
  %li
    %dl.dl-horizontal
      %dt= l 60
      %dd.eo sesdek
  %li
    %dl.dl-horizontal
      %dt= l 70
      %dd.eo sepdek
  %li
    %dl.dl-horizontal
      %dt= l 80
      %dd.eo okdek
  %li
    %dl.dl-horizontal
      %dt= l 90
      %dd.eo naŭdek
  %li
    %dl.dl-horizontal
      %dt= l 100
      %dd.eo cent
  %li
    %dl.dl-horizontal
      %dt= l 101
      %dd.eo cent unu
  %li
    %dl.dl-horizontal
      %dt= l 120
      %dd.eo cent dudek
  %li
    %dl.dl-horizontal
      %dt= l 121
      %dd.eo cent dudek unu
  %li
    %dl.dl-horizontal
      %dt= l 200
      %dd.eo ducent
  %li
    %dl.dl-horizontal
      %dt= l 300
      %dd.eo tricent
  %li
    %dl.dl-horizontal
      %dt= l 400
      %dd.eo kvarcent
  %li
    %dl.dl-horizontal
      %dt= l 500
      %dd.eo kvincent
  %li
    %dl.dl-horizontal
      %dt= l 600
      %dd.eo sescent
  %li
    %dl.dl-horizontal
      %dt= l 700
      %dd.eo sepcent
  %li
    %dl.dl-horizontal
      %dt= l 800
      %dd.eo okcent
  %li
    %dl.dl-horizontal
      %dt= l 900
      %dd.eo naŭcent
  %li
    %dl.dl-horizontal
      %dt= l 1000
      %dd.eo mil
  %li
    %dl.dl-horizontal
      %dt= l 2100
      %dd.eo du mil cent
  %li
    %dl.dl-horizontal
      %dt= l 0
      %dd.eo nulo
  %li
    %dl.dl-horizontal
      %dt= l 1887
      %dd.eo mil okcent okdek sep
  %li
    %dl.dl-horizontal
      %dt= l 999001
      %dd.eo naŭcent naŭdek naŭ mil unu
  %li
    %dl.dl-horizontal
      %dt= l 1000322
      %dd.eo unu miliono tricent dudek du
