%h2= t '.titolo'
%p= t '.ekspliko'
%ul.row
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo tri
      %dd= t '.vortoj.tri'
      %dt.eo tria
      %dd= t '.vortoj.tria'
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo dek
      %dd= t '.vortoj.dek'
      %dt.eo deka
      %dd= t '.vortoj.deka'
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo dek naŭ
      %dd= t '.vortoj.dek-naux'
      %dt.eo dek-naŭa
      %dd= t '.vortoj.dek-nauxa'
%dl.dl-horizontal
  %dt.eo La unuaj knaboj venas.
  %dd= t '.frazoj.frazo-1'
  %dt.eo Li kaptis la trian insekton.
  %dd= t '.frazoj.frazo-2'
