.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
.row
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "tri"
      %dd= t '.vortoj.tri'
      %dt= eo "tria"
      %dd= t '.vortoj.tria'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "dek"
      %dd= t '.vortoj.dek'
      %dt= eo "deka"
      %dd= t '.vortoj.deka'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "dek na큼"
      %dd= t '.vortoj.dek-na큼'
      %dt= eo "dek-na큼a"
      %dd= t '.vortoj.dek-na큼a'
%dl
  %dt= eo "La unuaj knaboj venas."
  %dd= t '.frazoj.frazo-1'
  %dt= eo "Li kaptis la trian insekton."
  %dd= t '.frazoj.frazo-2'
