.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "unu"
      %dd= t '.vortoj.unu'
      %dt= eo "unue"
      %dd= t '.vortoj.unue'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "du"
      %dd= t '.vortoj.du'
      %dt= eo "due"
      %dd= t '.vortoj.due'
%dl
  %dt= eo "Li unue trinkos akvon."
  %dd= t '.frazoj.frazo-1'
