%h2= t '.titolo'
%p= t '.ekspliko'
%ul.row
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo unu
      %dd= t '.vortoj.unu'
      %dt.eo unue
      %dd= t '.vortoj.unue'
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo du
      %dd= t '.vortoj.du'
      %dt.eo due
      %dd= t '.vortoj.due'
%dl.dl-horizontal
  %dt.eo Li unue trinkos akvon.
  %dd= t '.frazoj.frazo-1'
