.page-header
  %h2= t '.titolo'
%p= t '.ekspliko-1'
%p= t '.ekspliko-2'
.row
  .span6
    %ul
      %li
        %dl.dl-horizontal
          %dt.eo sano
          %dd= t '.vortoj.sano'
      %li
        %dl.dl-horizontal
          %dt.eo sana
          %dd= t '.vortoj.sana'
      %li
        %dl.dl-horizontal
          %dt.eo sani
          %dd= t '.vortoj.sani'
      %li
        %dl.dl-horizontal
          %dt.eo sane
          %dd= t '.vortoj.sane'
  .span6
    %ul
      %li
        %dl.dl-horizontal
          %dt.eo Li havas bonan sanon.
          %dd= t '.frazoj.frazo-sano'
      %li
        %dl.dl-horizontal
          %dt.eo Li estas sana.
          %dd= t '.frazoj.frazo-sana'
      %li
        %dl.dl-horizontal
          %dt.eo Li sanas.
          %dd= t '.frazoj.frazo-sani'
      %li
        %dl.dl-horizontal
          %dt.eo Li sane vivas.
          %dd= t '.frazoj.frazo-sane'
= rimarkigo do
  %p= t '.rimarkigo'
