.page-header
  %h2= t '.titolo'
%p= t '.ekspliko-1'
%p= t '.ekspliko-2'
.row
  .col-xs-6
    %dl
      %dt= eo "sano"
      %dd= t '.vortoj.sano'
      %dt= eo "Li havas bonan sanon."
      %dd= t '.frazoj.frazo-sano'
  .col-xs-6
    %dl
      %dt= eo "sana"
      %dd= t '.vortoj.sana'
      %dt= eo "Li estas sana."
      %dd= t '.frazoj.frazo-sana'
.row
  .col-xs-6
    %dl
      %dt= eo "sani"
      %dd= t '.vortoj.sani'
      %dt= eo "Li sanas."
      %dd= t '.frazoj.frazo-sani'
  .col-xs-6
    %dl
      %dt= eo "sane"
      %dd= t '.vortoj.sane'
      %dt= eo "Li sane vivas."
      %dd= t '.frazoj.frazo-sane'
= rimarkigo do
  %p= t '.rimarkigo'
