.page-header
  %h2= t '.titolo'
%ul
  %li
    %dl.dl-horizontal
      %dt= l2 1
      %dd.eo unu
  %li
    %dl.dl-horizontal
      %dt= l2 2
      %dd.eo du
  %li
    %dl.dl-horizontal
      %dt= l2 3
      %dd.eo tri
  %li
    %dl.dl-horizontal
      %dt= l2 4
      %dd.eo kvar
  %li
    %dl.dl-horizontal
      %dt= l2 5
      %dd.eo kvin
  %li
    %dl.dl-horizontal
      %dt= l2 6
      %dd.eo ses
  %li
    %dl.dl-horizontal
      %dt= l2 7
      %dd.eo sep
  %li
    %dl.dl-horizontal
      %dt= l2 8
      %dd.eo ok
  %li
    %dl.dl-horizontal
      %dt= l2 9
      %dd.eo naŭ
  %li
    %dl.dl-horizontal
      %dt= l2 10
      %dd.eo dek
  %li
    %dl.dl-horizontal
      %dt= l2 11
      %dd.eo dek unu
  %li
    %dl.dl-horizontal
      %dt= l2 12
      %dd.eo dek du
  %li
    %dl.dl-horizontal
      %dt= l2 13
      %dd.eo dek tri
  %li
    %dl.dl-horizontal
      %dt= l2 14
      %dd.eo dek kvar
  %li
    %dl.dl-horizontal
      %dt= l2 20
      %dd.eo dudek
  %li
    %dl.dl-horizontal
      %dt= l2 21
      %dd.eo dudek unu
  %li
    %dl.dl-horizontal
      %dt= l2 22
      %dd.eo dudek du
  %li
    %dl.dl-horizontal
      %dt= l2 30
      %dd.eo tridek
  %li
    %dl.dl-horizontal
      %dt= l2 31
      %dd.eo tridek unu
  %li
    %dl.dl-horizontal
      %dt= l2 32
      %dd.eo tridek du
  %li
    %dl.dl-horizontal
      %dt= l2 40
      %dd.eo kvardek
  %li
    %dl.dl-horizontal
      %dt= l2 50
      %dd.eo kvindek
  %li
    %dl.dl-horizontal
      %dt= l2 60
      %dd.eo sesdek
  %li
    %dl.dl-horizontal
      %dt= l2 70
      %dd.eo sepdek
  %li
    %dl.dl-horizontal
      %dt= l2 80
      %dd.eo okdek
  %li
    %dl.dl-horizontal
      %dt= l2 90
      %dd.eo naŭdek
  %li
    %dl.dl-horizontal
      %dt= l2 100
      %dd.eo cent
  %li
    %dl.dl-horizontal
      %dt= l2 101
      %dd.eo cent unu
  %li
    %dl.dl-horizontal
      %dt= l2 120
      %dd.eo cent dudek
  %li
    %dl.dl-horizontal
      %dt= l2 121
      %dd.eo cent dudek unu
  %li
    %dl.dl-horizontal
      %dt= l2 200
      %dd.eo ducent
  %li
    %dl.dl-horizontal
      %dt= l2 300
      %dd.eo tricent
  %li
    %dl.dl-horizontal
      %dt= l2 400
      %dd.eo kvarcent
  %li
    %dl.dl-horizontal
      %dt= l2 500
      %dd.eo kvincent
  %li
    %dl.dl-horizontal
      %dt= l2 600
      %dd.eo sescent
  %li
    %dl.dl-horizontal
      %dt= l2 700
      %dd.eo sepcent
  %li
    %dl.dl-horizontal
      %dt= l2 800
      %dd.eo okcent
  %li
    %dl.dl-horizontal
      %dt= l2 900
      %dd.eo naŭcent
  %li
    %dl.dl-horizontal
      %dt= l2 1000
      %dd.eo mil
  %li
    %dl.dl-horizontal
      %dt= l2 2100
      %dd.eo du mil cent
  %li
    %dl.dl-horizontal
      %dt= l2 0
      %dd.eo nulo
  %li
    %dl.dl-horizontal
      %dt= l2 1887
      %dd.eo mil okcent okdek sep
  %li
    %dl.dl-horizontal
      %dt= l2 999001
      %dd.eo naŭcent naŭdek naŭ mil unu
  %li
    %dl.dl-horizontal
      %dt= l2 1000322
      %dd.eo unu miliono tricent dudek du
