.page-header
  %h2= t '.titolo'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= l2 1
      %dd= eo "unu"
      %dt= l2 2
      %dd= eo "du"
      %dt= l2 3
      %dd= eo "tri"
      %dt= l2 4
      %dd= eo "kvar"
      %dt= l2 5
      %dd= eo "kvin"
  .span4
    %dl.dl-horizontal
      %dt= l2 6
      %dd= eo "ses"
      %dt= l2 7
      %dd= eo "sep"
      %dt= l2 8
      %dd= eo "ok"
      %dt= l2 9
      %dd= eo "naŭ"
      %dt= l2 10
      %dd= eo "dek"
  .span4
    %dl.dl-horizontal
      %dt= l2 11
      %dd= eo "dek unu"
      %dt= l2 12
      %dd= eo "dek du"
      %dt= l2 13
      %dd= eo "dek tri"
      %dt= l2 14
      %dd= eo "dek kvar"
      %dt= l2 20
      %dd= eo "dudek"
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= l2 21
      %dd= eo "dudek unu"
      %dt= l2 22
      %dd= eo "dudek du"
      %dt= l2 30
      %dd= eo "tridek"
      %dt= l2 31
      %dd= eo "tridek unu"
      %dt= l2 32
      %dd= eo "tridek du"
  .span4
    %dl.dl-horizontal
      %dt= l2 40
      %dd= eo "kvardek"
      %dt= l2 50
      %dd= eo "kvindek"
      %dt= l2 60
      %dd= eo "sesdek"
      %dt= l2 70
      %dd= eo "sepdek"
      %dt= l2 80
      %dd= eo "okdek"
  .span4
    %dl.dl-horizontal
      %dt= l2 90
      %dd= eo "naŭdek"
      %dt= l2 100
      %dd= eo "cent"
      %dt= l2 101
      %dd= eo "cent unu"
      %dt= l2 120
      %dd= eo "cent dudek"
      %dt= l2 121
      %dd= eo "cent dudek unu"
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= l2 200
      %dd= eo "ducent"
      %dt= l2 300
      %dd= eo "tricent"
      %dt= l2 400
      %dd= eo "kvarcent"
      %dt= l2 500
      %dd= eo "kvincent"
      %dt= l2 600
      %dd= eo "sescent"
  .span4
    %dl.dl-horizontal
      %dt= l2 700
      %dd= eo "sepcent"
      %dt= l2 800
      %dd= eo "okcent"
      %dt= l2 900
      %dd= eo "naŭcent"
      %dt= l2 1000
      %dd= eo "mil"
      %dt= l2 2100
      %dd= eo "du mil cent"
%dl.dl-horizontal
  %dt= l2 0
  %dd= eo "nulo"
  %dt= l2 1887
  %dd= eo "mil okcent okdek sep"
  %dt= l2 999001
  %dd= eo "naŭcent naŭdek naŭ mil unu"
  %dt= l2 1000322
  %dd= eo "unu miliono tricent dudek du"
