.page-header
  %h2= t 'lecionoj.aliaj.dividitoj.vortaro'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: #2049ff;'}
      %dd= eo "blua"
  .span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: white;'}
      %dd= eo "blanka"
  .span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: #0a0;'}
      %dd= eo "verda"
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: #500;'}
      %dd= eo "bruna"
  .span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: yellow;'}
      %dd= eo "flava"
  .span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: #9f9f9f;'}
      %dd= eo "griza"
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: black;'}
      %dd= eo "nigra"
  .span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: red;'}
      %dd= eo "ruĝa"
  .span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: #9f00c5;'}
      %dd= eo "purpura"
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "horo"
      %dd= t '.horo'
  .span6
    %dl.dl-horizontal
      %dt= eo "jaro"
      %dd= t '.jaro'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "mateno"
      %dd= t '.mateno'
  .span6
    %dl.dl-horizontal
      %dt= eo "minuto"
      %dd= t '.minuto'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "nokto"
      %dd= t '.nokto'
  .span6
    %dl.dl-horizontal
      %dt= eo "semajno"
      %dd= t '.semajno'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "tago"
      %dd= t '.tago'
  .span6
    %dl.dl-horizontal
      %dt= eo "soifi"
      %dd= t '.soifi'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "vespero"
      %dd= t '.vespero'
  .span6
    %dl.dl-horizontal
      %dt= eo "atendi"
      %dd= t '.atendi'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "demandi"
      %dd= t '.demandi'
  .span6
    %dl.dl-horizontal
      %dt= eo "fumi"
      %dd= t '.fumi'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "kuri"
      %dd= t '.kuri'
  .span6
    %dl.dl-horizontal
      %dt= eo "peti"
      %dd= t '.peti'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "promeni"
      %dd= t '.promeni'
  .span6
    %dl.dl-horizontal
      %dt= eo "respondi"
      %dd= t '.respondi'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "vivi"
      %dd= t '.vivi'
