%h2#vortaro03= t 'lecionoj.aliaj.dividitoj.vortaro'
%ul.row
  %li.span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: #2049ff;'}
      %dd.eo blua
  %li.span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: white;'}
      %dd.eo blanka
  %li.span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: #0a0;'}
      %dd.eo verda
  %li.span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: #500;'}
      %dd.eo bruna
  %li.span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: yellow;'}
      %dd.eo flava
  %li.span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: #9f9f9f;'}
      %dd.eo griza
  %li.span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: black;'}
      %dd.eo nigra
  %li.span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: red;'}
      %dd.eo ruĝa
  %li.span4
    %dl.dl-horizontal
      %dt.koloro{style:'background-color: #9f00c5;'}
      %dd.eo purpura
%ul.row
  %li.span6
    %dl.dl-horizontal
      %dt.eo horo
      %dd= t '.horo'
  %li.span6
    %dl.dl-horizontal
      %dt.eo jaro
      %dd= t '.jaro'
  %li.span6
    %dl.dl-horizontal
      %dt.eo mateno
      %dd= t '.mateno'
  %li.span6
    %dl.dl-horizontal
      %dt.eo minuto
      %dd= t '.minuto'
  %li.span6
    %dl.dl-horizontal
      %dt.eo nokto
      %dd= t '.nokto'
  %li.span6
    %dl.dl-horizontal
      %dt.eo semajno
      %dd= t '.semajno'
  %li.span6
    %dl.dl-horizontal
      %dt.eo tago
      %dd= t '.tago'
  %li.span6
    %dl.dl-horizontal
      %dt.eo soifi
      %dd= t '.soifi'
  %li.span6
    %dl.dl-horizontal
      %dt.eo vespero
      %dd= t '.vespero'
  %li.span6
    %dl.dl-horizontal
      %dt.eo atendi
      %dd= t '.atendi'
  %li.span6
    %dl.dl-horizontal
      %dt.eo demandi
      %dd= t '.demandi'
  %li.span6
    %dl.dl-horizontal
      %dt.eo fumi
      %dd= t '.fumi'
  %li.span6
    %dl.dl-horizontal
      %dt.eo kuri
      %dd= t '.kuri'
  %li.span6
    %dl.dl-horizontal
      %dt.eo peti
      %dd= t '.peti'
  %li.span6
    %dl.dl-horizontal
      %dt.eo promeni
      %dd= t '.promeni'
  %li.span6
    %dl.dl-horizontal
      %dt.eo respondi
      %dd= t '.respondi'
  %li.span6
    %dl.dl-horizontal
      %dt.eo vivi
      %dd= t '.vivi'
