%h1 Leciono 6
.row
  .span3.apudstango
    %ul.nav.nav-list.bs-docs-apudnav
      %li
        %a{href: '#korelativoj02'}
          %i.icon-chevron-right
          = t('.korelativoj02.titolo')
      %li
        %a{href: '#korelativoj_el'}
          %i.icon-chevron-right
          \-el
      %li
        %a{href: '#korelativoj_om'}
          %i.icon-chevron-right
          \-om
      %li
        %a{href: '#korelativoj_al'}
          %i.icon-chevron-right
          \-al
      %li
        %a{href: '#korelativoj_es'}
          %i.icon-chevron-right
          \-es
      %li
        %a{href: '#korelativoj_a'}
          %i.icon-chevron-right
          \-a
      %li
        %a{href: '#relativoj'}
          %i.icon-chevron-right
          = t('.relativoj.titolo')
  .span9
    %section#korelativoj02
      = render "lecionoj/leciono06/korelativoj02"
    %section#korelativoj_el
      = render "lecionoj/leciono06/korelativoj_el"
    %section#korelativoj_om
      = render "lecionoj/leciono06/korelativoj_om"
    %section#korelativoj_al
      = render "lecionoj/leciono06/korelativoj_al"
    %section#korelativoj_es
      = render "lecionoj/leciono06/korelativoj_es"
    %section#korelativoj_a
      = render "lecionoj/leciono06/korelativoj_a"
    %section#relativoj
      = render "lecionoj/leciono06/relativoj"
