%h1 Leciono 3
.row
  .span12
    = render "lecionoj/leciono03/adverboj"
    = render "lecionoj/leciono03/numeraloj"
    = render "lecionoj/leciono03/adjektivoj_el_numeraloj"
    = render "lecionoj/leciono03/adverboj_el_numeraloj"
    = render "lecionoj/leciono03/vortaro03"
