%h1 Leciono 2
.row
  .span12
    = render "lecionoj/leciono02/sufikso_ino"
    = render "lecionoj/leciono02/akuzativo"
    = render "lecionoj/leciono02/prefikso_mal"
    = render "lecionoj/leciono02/neado"
    = render "lecionoj/leciono02/vortaro02"
