%h1 Leciono 2
.row
  .span3
    %ul.nav.nav-list
      %li
        %a{href: '#sufikso_ino'}= t('.sufikso_ino.titolo')
      %li
        %a{href: '#akuzativo'}= t('.akuzativo.titolo')
      %li
        %a{href: '#prefikso_mal'}= t('.prefikso_mal.titolo')
      %li
        %a{href: '#neado'}= t('.neado.titolo')
      %li
        %a{href: '#vortaro02'}= t('lecionoj.aliaj.dividitoj.vortaro')
  .span9
    %section#sufikso_ino
      = render "lecionoj/leciono02/sufikso_ino"
    %section#akuzativo
      = render "lecionoj/leciono02/akuzativo"
    %section#prefikso_mal
      = render "lecionoj/leciono02/prefikso_mal"
    %section#neado
      = render "lecionoj/leciono02/neado"
    %section#vortaro02
      = render "lecionoj/leciono02/vortaro02"
