%h1 Leciono 4
.row
  .span12
    = render "lecionoj/leciono04/salutoj"
    = render "lecionoj/leciono04/tagoj"
    = render "lecionoj/leciono04/monatoj"
    = render "lecionoj/leciono04/datoj"
    = render "lecionoj/leciono04/demandoj"
    = render "lecionoj/leciono04/vortaro04"
    = render "lecionoj/leciono04/tekstokompreno"
