%header.subhead
  %h1 Leciono 12
.row
  .span3.apudstango
    %ul.nav.nav-list.bs-docs-apudnav
      %li
        %a{href: '#verba_transitiveco'}
          %i.icon-chevron-right
          = t('.verba_transitiveco.titolo')
      %li
        %a{href: '#vortfarado'}
          %i.icon-chevron-right
          = t('.vortfarado.titolo')
      %li
        %a{href: '#muziko'}
          %i.icon-chevron-right
          = t('.muziko.titolo')
  .span9
    %section#verba_transitiveco
      .section-inner
        = render "lecionoj/leciono12/verba_transitiveco"
    %section#vortfarado
      .section-inner
        = render "lecionoj/leciono12/vortfarado"
    %section#muziko
      .section-inner
        = render "lecionoj/leciono12/muziko"
