%h1 Leciono 6
.row
  .span12
    = render "lecionoj/leciono06/korelativoj2"
    = render "lecionoj/leciono06/korelativoj_el"
    = render "lecionoj/leciono06/korelativoj_om"
    = render "lecionoj/leciono06/korelativoj_al"
    = render "lecionoj/leciono06/korelativoj_es"
    = render "lecionoj/leciono06/korelativoj_a"
    = render "lecionoj/leciono06/relativoj"
