%h1 Leciono 1
.row
  .span12
    = render "lecionoj/leciono01/alfabeto"
    = render "lecionoj/leciono01/personaj_pronomoj"
    = render "lecionoj/leciono01/verboj"
    = render "lecionoj/leciono01/nomoj"
    = render "lecionoj/leciono01/adjektivoj"
    = render "lecionoj/leciono01/vortaro01"
    = render "lecionoj/leciono01/pluralo"
    = render "lecionoj/leciono01/posedaj_pronomoj"
    = render "lecionoj/leciono01/artikolo"
