%h1 Leciono 1
.row
  .span3
    %ul.nav.nav-list
      %li
        %a{href: '#alfabeto'}= t('.alfabeto.titolo')
      %li
        %a{href: '#personaj_pronomoj'}= t('.personaj_pronomoj.titolo')
      %li
        %a{href: '#verboj'}= t('.verboj.titolo')
      %li
        %a{href: '#nomoj'}= t('.nomoj.titolo')
      %li
        %a{href: '#adjektivoj'}= t('.adjektivoj.titolo')
      %li
        %a{href: '#vortaro01'}= t('lecionoj.aliaj.dividitoj.vortaro')
      %li
        %a{href: '#pluralo'}= t('.pluralo.titolo')
      %li
        %a{href: '#posedaj_pronomoj'}= t('.posedaj_pronomoj.titolo')
      %li
        %a{href: '#artikolo'}= t('.artikolo.titolo')
  .span9
    %section#alfabeto
      = render "lecionoj/leciono01/alfabeto"
    %section#personaj_pronomoj
      = render "lecionoj/leciono01/personaj_pronomoj"
    %section#verboj
      = render "lecionoj/leciono01/verboj"
    %section#nomoj
      = render "lecionoj/leciono01/nomoj"
    %section#adjektivoj
      = render "lecionoj/leciono01/adjektivoj"
    %section#vortaro01
      = render "lecionoj/leciono01/vortaro01"
    %section#pluralo
      = render "lecionoj/leciono01/pluralo"
    %section#posedaj_pronomoj
      = render "lecionoj/leciono01/posedaj_pronomoj"
    %section#artikolo
      = render "lecionoj/leciono01/artikolo"
