%h1 Leciono 10
.row
  .span3.apudstango
    %ul.nav.nav-list.bs-docs-apudnav
      %li
        %a{href: '#aliaj_verbaj_tempoj'}
          %i.icon-chevron-right
          = t('.aliaj_verbaj_tempoj.titolo')
      %li
        %a{href: '#kelkaj_gravaj_verboj'}
          %i.icon-chevron-right
          = t('.kelkaj_gravaj_verboj.titolo')
      %li
        %a{href: '#participoj'}
          %i.icon-chevron-right
          = t('.participoj.titolo')
      %li
        %a{href: '#pronomo_si'}
          %i.icon-chevron-right
          = t('.pronomo_si.titolo')
  .span9
    %section#aliaj_verbaj_tempoj
      = render "lecionoj/leciono10/aliaj_verbaj_tempoj"
    %section#kelkaj_gravaj_verboj
      = render "lecionoj/leciono10/kelkaj_gravaj_verboj"
    %section#participoj
      = render "lecionoj/leciono10/participoj"
    %section#pronomo_si
      = render "lecionoj/leciono10/pronomo_si"
