%h1 Leciono 7
.row
  .span12
    = render "lecionoj/leciono07/prepozicioj01"
    = render "lecionoj/leciono07/tekstokompreno02"
    = render "lecionoj/leciono07/prepozicioj02"
    = render "lecionoj/leciono07/tekstokompreno03"
    = render "lecionoj/leciono07/prepozicioj03"
