%h1 Leciono 5
.row
  .span3.apudstango
    %ul.nav.nav-list.bs-docs-apudnav
      %li
        %a{href: '#korelativoj01'}
          %i.icon-chevron-right
          = t('.korelativoj01.titolo')
      %li
        %a{href: '#korelativoj_u'}
          %i.icon-chevron-right
          \-u
      %li
        %a{href: '#korelativoj_e'}
          %i.icon-chevron-right
          \-e
      %li
        %a{href: '#korelativoj_am'}
          %i.icon-chevron-right
          \-am
      %li
        %a{href: '#korelativoj_o'}
          %i.icon-chevron-right
          \-o
      %li
        %a{href: '#korelativoj_cxi'}
          %i.icon-chevron-right
          Ĉi
      %li
        %a{href: '#vortaro05'}
          %i.icon-chevron-right
          = t('lecionoj.aliaj.dividitoj.vortaro')
  .span9
    %section#korelativoj01
      = render "lecionoj/leciono05/korelativoj01"
    %section#korelativoj_u
      = render "lecionoj/leciono05/korelativoj_u"
    %section#korelativoj_e
      = render "lecionoj/leciono05/korelativoj_e"
    %section#korelativoj_am
      = render "lecionoj/leciono05/korelativoj_am"
    %section#korelativoj_o
      = render "lecionoj/leciono05/korelativoj_o"
    %section#korelativoj_cxi
      = render "lecionoj/leciono05/korelativoj_cxi"
    %section#vortaro05
      = render "lecionoj/leciono05/vortaro05"
