.container
  %header.subhead
    %h1 Leciono 10
  .row
    .col-sm-3.apudstango
      %ul.nav.bs-docs-apudnav
        %li
          %a(href="#aliaj_verbaj_tempoj")
            %i.icon-chevron-right
            = t('.aliaj_verbaj_tempoj.titolo')
        %li
          %a(href="#kondicionalo")
            %i.icon-chevron-right
            = t('.kondicionalo.titolo')
        %li
          %a(href="#imperativo")
            %i.icon-chevron-right
            = t('.imperativo.titolo')
        %li
          %a(href="#nerekta")
            %i.icon-chevron-right
            = t('.nerekta.titolo', default: "-")
        %li
          %a(href="#kelkaj_gravaj_verboj")
            %i.icon-chevron-right
            = t('.kelkaj_gravaj_verboj.titolo')
        %li
          %a(href="#participoj")
            %i.icon-chevron-right
            = t('.participoj.titolo')
        %li
          %a(href="#pronomo_si")
            %i.icon-chevron-right
            = t('.pronomo_si.titolo')
    .col-sm-9
      %section#aliaj_verbaj_tempoj
        .section-inner
          = render "lecionoj/leciono10/aliaj_verbaj_tempoj"
      %section#kondicionalo
        .section-inner
          = render "lecionoj/leciono10/kondicionalo"
      %section#imperativo
        .section-inner
          = render "lecionoj/leciono10/imperativo"
      %section#nerekta
        .section-inner
          = render "lecionoj/leciono10/nerekta"
      %section#kelkaj_gravaj_verboj
        .section-inner
          = render "lecionoj/leciono10/kelkaj_gravaj_verboj"
      %section#participoj
        .section-inner
          = render "lecionoj/leciono10/participoj"
      %section#pronomo_si
        .section-inner
          = render "lecionoj/leciono10/pronomo_si"
