%h1 Leciono 5
.row
  .span12
    = render "lecionoj/leciono05/korelativoj"
    = render "lecionoj/leciono05/korelativoj_u"
    = render "lecionoj/leciono05/korelativoj_e"
    = render "lecionoj/leciono05/korelativoj_am"
    = render "lecionoj/leciono05/korelativoj_o"
    = render "lecionoj/leciono05/korelativoj_cxi"
    = render "lecionoj/leciono05/vortaro05"
