.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt= eo "al"
  %dd= t '.vortoj.al'
  %dd= eo "Li iros al la urbo."
  %dd= eo "Ŝi parolas al ili."
  %dt= eo "ĉe"
  %dd= t '.vortoj.ĉe'
  %dd= eo "Maria loĝas ĉe la patrino."
  %dt= eo "de"
  %dd= t '.vortoj.de'
  %dd= eo "Li legas la libron de Johano."
  %dd= eo "Ni vojaĝos de Tokio al Seulo."
  %dt= eo "da"
  %dd= t '.vortoj.da'
  %dd= eo "Vi aĉetis iom da kafo."
  %dd= eo "Kiom da leteroj ŝi skribis?"
  %dt= eo "dum"
  %dd= t '.vortoj.dum'
  %dd= eo "Dum la promeno mi vidis belajn domojn."
  %dt= eo "en"
  %dd= t '.vortoj.en'
  %dd= eo "Petro vivas en Brazilo."
  %dd= eo "La infano estas en la domo."
  %dt= eo "ĝis"
  %dd= t '.vortoj.ĝis'
  %dd= eo "Anna iros ĝis tie."
  %dd= eo "Ĝis revido!"
  %dt= eo "kun"
  %dd= t '.vortoj.kun'
  %dd= eo "Mi iris al la butiko kun mia patrino."
  %dt= eo "por"
  %dd= t '.vortoj.por'
  %dd= eo "Tiu virino faras kukojn por vendi."
  %dt= eo "pro"
  %dd= t '.vortoj.pro'
  %dd= eo "La knabo ne iris al la lernejo pro la malsano."
  %dt= eo "sub"
  %dd= t '.vortoj.sub'
  %dd= eo "La plumo estas sub la libro."
  %dt= eo "sur"
  %dd= t '.vortoj.sur'
  %dd= eo "La libro estas sur la tablo."
