.page-header
  %h2= t '.titolo'

.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "anstataŭ"
      %dd
        = t '.vortoj.anstataŭ'
        = ekzemploj do
          %ul
            %li= eo "Li aĉetis panon anstataŭ kuko."
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "antaŭ"
      %dd
        = t '.vortoj.antaŭ'
        = ekzemploj do
          %ul
            %li= eo "Mia patrino sidas antaŭ la domo."
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "apud"
      %dd
        = t '.vortoj.apud'
        = ekzemploj do
          %ul
            %li= eo "Mia patro sidas apud ŝi."
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ekster"
      %dd
        = t '.vortoj.ekster'
        = ekzemploj do
          %ul
            %li= eo "La biciklo estas ekster la domo."
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "el"
      %dd
        = t '.vortoj.el'
        = ekzemploj do
          %ul
            %li= eo "Morgaŭ Maria venos el Brazilo."
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "inter"
      %dd
        = t '.vortoj.inter'
        = ekzemploj do
          %ul
            %li= eo "La plumo estas inter la libroj."
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "kontraŭ"
      %dd
        = t '.vortoj.kontraŭ'
        = ekzemploj do
          %ul
            %li= eo "Mia domo estas kontraŭ la lernejo."
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "per"
      %dd
        = t '.vortoj.per'
        = ekzemploj do
          %ul
            %li= eo "Ŝi ires al la urbo per aŭtobuso."
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "post"
      %dd
        = t '.vortoj.post'
        = ekzemploj do
          %ul
            %li= eo "Mia domo estas post la lernejo."
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "pri"
      %dd
        = t '.vortoj.pri'
        = ekzemploj do
          %ul
            %li= eo "Li parolis al ŝi pri Esperanto."
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "sen"
      %dd
        = t '.vortoj.sen'
        = ekzemploj do
          %ul
            %li= eo "Mi iris al la lernejo sen la libro."
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "super"
      %dd
        = t '.vortoj.super'
        = ekzemploj do
          %ul
            %li= eo "La birdo estas super la butiko."
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "tra"
      %dd
        = t '.vortoj.tra'
        = ekzemploj do
          %ul
            %li= eo "Ni iris al Kanado tra Usono."
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ĉirkaŭ"
      %dd
        = t '.vortoj.ĉirkaŭ'
        = ekzemploj do
          %ul
            %li= eo "La infanoj ludas ĉirkaŭ la ĝardeno."
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "preter"
      %dd
        = t '.vortoj.preter'
        = ekzemploj do
          %ul
            %li= eo "La birdo flugis preter la aŭtobuso."
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "trans"
      %dd
        = t '.vortoj.trans'
        = ekzemploj do
          %ul
            %li= eo "Mi loĝas trans la urbo."
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "malantaŭ"
      %dd
        = t '.vortoj.malantaŭ'
        = ekzemploj do
          %ul
            %li= eo "La viro sidas malantaŭ la domo."
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "je"
      %dd
        = t '.vortoj.je'
        = ekzemploj do
          %ul
            %li= eo "Ni vizitos vin je la tria horo."
