.page-header
  %h2= t '.titolo'
%dl.dl-horizontal
  %dt= eo "anstataŭ"
  %dd= t '.vortoj.anstataŭ'
  %dd= eo "Li aĉetis panon anstataŭ kuko."
  %dt= eo "antaŭ"
  %dd= t '.vortoj.antaŭ'
  %dd= eo "Mia patrino sidas antaŭ la domo."
  %dt= eo "apud"
  %dd= t '.vortoj.apud'
  %dd= eo "Mia patro sidas apud ŝi."
  %dt= eo "ekster"
  %dd= t '.vortoj.ekster'
  %dd= eo "La biciklo estas ekster la domo."
  %dt= eo "el"
  %dd= t '.vortoj.el'
  %dd= eo "Morgaŭ Maria venos el Brazilo."
  %dt= eo "inter"
  %dd= t '.vortoj.inter'
  %dd= eo "La plumo estas inter la libroj."
  %dt= eo "kontraŭ"
  %dd= t '.vortoj.kontraŭ'
  %dd= eo "Mia domo estas kontraŭ la lernejo."
  %dt= eo "per"
  %dd= t '.vortoj.per'
  %dd= eo "Ŝi ires al la urbo per aŭtobuso."
  %dt= eo "post"
  %dd= t '.vortoj.post'
  %dd= eo "Mia domo estas post la lernejo."
  %dt= eo "pri"
  %dd= t '.vortoj.pri'
  %dd= eo "Li parolis al ŝi pri Esperanto."
  %dt= eo "sen"
  %dd= t '.vortoj.sen'
  %dd= eo "Mi iris al la lernejo sen la libro."
  %dt= eo "super"
  %dd= t '.vortoj.super'
  %dd= eo "La birdo estas super la butiko."
  %dt= eo "tra"
  %dd= t '.vortoj.tra'
  %dd= eo "Ni iris al Kanado tra Usono."
  %dt= eo "ĉirkaŭ"
  %dd= t '.vortoj.ĉirkaŭ'
  %dd= eo "La infanoj ludas ĉirkaŭ la ĝardeno."
  %dt= eo "preter"
  %dd= t '.vortoj.preter'
  %dd= eo "La birdo flugis preter la aŭtobuso."
  %dt= eo "trans"
  %dd= t '.vortoj.trans'
  %dd= eo "Mi loĝas trans la urbo."
  %dt= eo "malantaŭ"
  %dd= t '.vortoj.malantaŭ'
  %dd= eo "La viro sidas malantaŭ la domo."
  %dt= eo "je"
  %dd= t '.vortoj.je'
  %dd= eo "Ni vizitos vin je la tria horo."
