%h2#prepozicioj03= t '.titolo'
%p= t '.ekspliko-1'
%dl.dl-horizontal
  %dt.eo Birdo kaptas insektoN.
  %dd= t '.frazo-1'
%p= t '.ekspliko-2'
%dl.dl-horizontal
  %dt.eo Mi dankas viN pro via afablecO.
  %dd= t '.frazo-2'
%p= t '.ekspliko-3'
%dl.dl-horizontal
  %dt.eo Mi legas la libroN de PetrO.
  %dd= t '.frazo-3'
  %dt.eo Mi vojaĝos al AmerikO.
  %dd= t '.frazo-4'
  %dt.eo Li trinkis tasoN de kafO.
  %dd= t '.frazo-5'
%p= t '.ekspliko-4'
%p= t '.ekspliko-5'
%dl.dl-horizontal
  %dt.eo Ni veturas al Montrealo.
  %dd.eo Ni veturas Montrealon.
  %dt.eo Ili restis dum tri tagoj.
  %dd.eo Ili restis tri tagojn.
  %dt.eo La infano obeas al la patro.
  %dd.eo La infano obeas la patron.
%p= t '.ekspliko-6'
%dl.dl-horizontal
  %dt.eo Forirau de antaŭ mi.
  %dd= t '.frazo-6'
%p= t '.ekspliko-7'
%dl.dl-horizontal
  %dt.eo Mi promenis AL EN la ĝardeno.
  %dd.eo Mi promenis EN la ĝardenoN.
%p= t '.ekspliko-8'
%dl.dl-horizontal
  %dt.eo Mi promenis EN la ĝardenO.
%p= t '.ekspliko-9'
