.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt= eo "al"
  %dd
    = t '.vortoj.al'
    %ul.unstyled
      %li= eo "Li iros al la urbo."
      %li= eo "Ŝi parolas al ili."
  %dt= eo "ĉe"
  %dd
    = t '.vortoj.ĉe'
    %ul.unstyled
      %li= eo "Maria loĝas ĉe la patrino."
  %dt= eo "de"
  %dd
    = t '.vortoj.de'
    %ul.unstyled
      %li= eo "Li legas la libron de Johano."
      %li= eo "Ni vojaĝos de Tokio al Seulo."
  %dt= eo "da"
  %dd
    = t '.vortoj.da'
    %ul.unstyled
      %li= eo "Vi aĉetis iom da kafo."
      %li= eo "Kiom da leteroj ŝi skribis?"
  %dt= eo "dum"
  %dd
    = t '.vortoj.dum'
    %ul.unstyled
      %li= eo "Dum la promeno mi vidis belajn domojn."
  %dt= eo "en"
  %dd
    = t '.vortoj.en'
    %ul.unstyled
      %li= eo "Petro vivas en Brazilo."
      %li= eo "La infano estas en la domo."
  %dt= eo "ĝis"
  %dd
    = t '.vortoj.ĝis'
    %ul.unstyled
      %li= eo "Anna iros ĝis tie."
      %li= eo "Ĝis revido!"
  %dt= eo "kun"
  %dd
    = t '.vortoj.kun'
    %ul.unstyled
      %li= eo "Mi iris al la butiko kun mia patrino."
  %dt= eo "por"
  %dd
    = t '.vortoj.por'
    %ul.unstyled
      %li= eo "Tiu virino faras kukojn por vendi."
  %dt= eo "pro"
  %dd
    = t '.vortoj.pro'
    %ul.unstyled
      %li= eo "La knabo ne iris al la lernejo pro la malsano."
  %dt= eo "sub"
  %dd
    = t '.vortoj.sub'
    %ul.unstyled
      %li= eo "La plumo estas sub la libro."
  %dt= eo "sur"
  %dd
    = t '.vortoj.sur'
    %ul.unstyled
      %li= eo "La libro estas sur la tablo."
