.page-header
  %h2= t 'lecionoj.aliaj.dividitoj.tekstokompreno'
%p Kun mia fratoj mi veturis per aŭtomobilo al la zoo. Ĝi estas ekster la urbo. Ni admiris tie multajn bestojn el ĉiuj kontinentoj. Al mia frato tre plaĉis la ursoj apud la enirejo. Inter la kaĝoj de la brunaj kaj blankaj ursoj estas la kaĝo de la nigra urso el okcidenta Kanado. La blanka urso el Arkto estis ofte en la akvo. Por mi la grandaj simioj estis tre interesaj pro ilia simileco al la homoj. Sen tiaj bestoj zoo ne povas esti kompleta.
%audio
%ul.row
  %li.span4
    %dl.dl-horizontal
      %dt.eo veturi
      %dd= t '.vortaro.veturi'
  %li.span4
    %dl.dl-horizontal
      %dt.eo urbo
      %dd= t '.vortaro.urbo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo multa
      %dd= t '.vortaro.multa'
  %li.span4
    %dl.dl-horizontal
      %dt.eo besto
      %dd= t '.vortaro.besto'
  %li.span4
    %dl.dl-horizontal
      %dt.eo Arkto
      %dd= t '.vortaro.Arkto'
  %li.span4
    %dl.dl-horizontal
      %dt.eo kontinento
      %dd= t '.vortaro.kontinento'
  %li.span4
    %dl.dl-horizontal
      %dt.eo admiri
      %dd= t '.vortaro.admiri'
  %li.span4
    %dl.dl-horizontal
      %dt.eo plaĉi al
      %dd= t '.vortaro.plaĉi_al'
  %li.span4
    %dl.dl-horizontal
      %dt.eo urso
      %dd= t '.vortaro.urso'
  %li.span4
    %dl.dl-horizontal
      %dt.eo simili
      %dd= t '.vortaro.simili'
  %li.span4
    %dl.dl-horizontal
      %dt.eo enirejo
      %dd= t '.vortaro.enirejo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo kaĝo
      %dd= t '.vortaro.kaĝo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo simio
      %dd= t '.vortaro.simio'
  %li.span4
    %dl.dl-horizontal
      %dt.eo Kanado
      %dd= t '.vortaro.Kanado'
  %li.span4
    %dl.dl-horizontal
      %dt.eo ofte
      %dd= t '.vortaro.ofte'
  %li.span4
    %dl.dl-horizontal
      %dt.eo interesa
      %dd= t '.vortaro.interesa'
  %li.span4
    %dl.dl-horizontal
      %dt.eo kompleta
      %dd= t '.vortaro.kompleta'
  %li.span4
    %dl.dl-horizontal
      %dt.eo ĉar
      %dd= t '.vortaro.ĉar'
  %li.span4
    %dl.dl-horizontal
      %dt.eo aŭtomobilo
      %dd= t '.vortaro.aŭtomobilo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo zoo
      %dd= t '.vortaro.zoo'
