.page-header
  %h2= t 'lecionoj.aliaj.dividitoj.tekstokompreno'
.muziko
  .muziko-ludanto.muziko-ludanto-auxdio
    .ui360
      .ludanto-360{ 'data-url' => sc_stream_url(94729730) }
      %a{ href: sc_url('michel-pavan-macedo', 'kurso-tekstokompreno02'), target: '_new', type: 'audio/mp3' }
        SoundCloud
        %i.icon-external-link-sign
  .muziko-litero
    %blockquote
      %p Mi estas membro de la Junulara Esperantista Klubo, kaj mi iris al la Esperanto-Kongreso, kiu okazis en San-Francisko. Ni vojaĝis de Nov-Jorko dum tri tagoj en nia aŭtobuseto, kaj ne haltis ĝis ni alvenis al Dalaso, en Teksaso. Tie ni vizitis niajn geamikojn kaj manĝis. Ni portis sandviĉojn por la tagmanĝo, kaj ili estis sub la seĝoj sur kiuj ni sidis. Ni dankis niajn geamikojn pro la bona kongreso.
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "membro"
      %dd= t '.vortaro.membro'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "junularo"
      %dd= t '.vortaro.junularo'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "okazi"
      %dd= t '.vortaro.okazi'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "aŭtobuseto"
      %dd= t '.vortaro.aŭtobuseto'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "alveni al"
      %dd= t '.vortaro.alveni_al'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "tagmanĝo"
      %dd= t '.vortaro.tagmanĝo'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "geamikoj"
      %dd= t '.vortaro.geamikoj'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "iri"
      %dd= t '.vortaro.iri'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "kongreso"
      %dd= t '.vortaro.kongreso'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "halti"
      %dd= t '.vortaro.halti'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "sidi"
      %dd= t '.vortaro.sidi'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "seĝo"
      %dd= t '.vortaro.seĝo'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "danki"
      %dd= t '.vortaro.danki'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "viziti"
      %dd= t '.vortaro.viziti'
