%h2= t '.salutoj'
%ul
  %li
    %dl.dl-horizontal
      %dt.eo Saluton !
      %dd= t '.saluto01'
  %li
    %dl.dl-horizontal
      %dt.eo Bonan tagon !
      %dd= t '.saluto02'
  %li
    %dl.dl-horizontal
      %dt.eo Bonan matenon !
      %dd= t '.saluto03'
  %li
    %dl.dl-horizontal
      %dt.eo Bonan vesperon !
      %dd= t '.saluto04'
  %li
    %dl.dl-horizontal
      %dt.eo Bonan nokton !
      %dd= t '.saluto05'
  %li
    %dl.dl-horizontal
      %dt.eo Kiel vi fartas ?
      %dd= t '.saluto06'
      %dt.eo Bone, dankon. Kaj vi ?
      %dd= t '.saluto07'
      %dt.eo Sufiĉe bone.
      %dd= t '.saluto08'
      %dt.eo Ne tre bone.
      %dd= t '.saluto09'
  %li
    %dl.dl-horizontal
      %dt.eo Bonan apetiton !
      %dd= t '.saluto10'
      %dt.eo Same al vi, dankon !
      %dd= t '.saluto11'
  %li
    %dl.dl-horizontal
      %dt.eo Je via sano !
      %dd= t '.saluto12'
  %li
    %dl.dl-horizontal
      %dt.eo Ĝis revido !
      %dd= t '.saluto13'
  %li
    %dl.dl-horizontal
      %dt.eo Adiaŭ !
      %dd= t '.saluto14'
