%h2= t '.monatoj.monatoj'
%ul
  %li
    %dl.dl-horizontal
      %dt.eo januaro
      %dd= t '.monatoj.januaro'
  %li
    %dl.dl-horizontal
      %dt.eo februaro
      %dd= t '.monatoj.februaro'
  %li
    %dl.dl-horizontal
      %dt.eo marto
      %dd= t '.monatoj.marto'
  %li
    %dl.dl-horizontal
      %dt.eo aprilo
      %dd= t '.monatoj.aprilo'
  %li
    %dl.dl-horizontal
      %dt.eo majo
      %dd= t '.monatoj.majo'
  %li
    %dl.dl-horizontal
      %dt.eo junio
      %dd= t '.monatoj.junio'
  %li
    %dl.dl-horizontal
      %dt.eo julio
      %dd= t '.monatoj.julio'
  %li
    %dl.dl-horizontal
      %dt.eo a큼gusto
      %dd= t '.monatoj.a큼gusto'
  %li
    %dl.dl-horizontal
      %dt.eo septembro
      %dd= t '.monatoj.septembro'
  %li
    %dl.dl-horizontal
      %dt.eo oktobro
      %dd= t '.monatoj.oktobro'
  %li
    %dl.dl-horizontal
      %dt.eo novembro
      %dd= t '.monatoj.novembro'
  %li
    %dl.dl-horizontal
      %dt.eo decembro
      %dd= t '.monatoj.decembro'

%h2= t '.datoj.datoj'
%p= t '.datoj.datoj-ekzpliko'
%dl.dl-horizontal
  %dt 13 jan. 1964
  %dd La dektria (tago) de januaro (en la jaro) mil na큼cent sesdek kvar
  %dt 4 dec. 1958
  %dd La kvara de decembro mil na큼cent kvindek ok
  %dt 14 jul. 1887
  %dd La dekkvara de julio mil okcent okdek sep
