%h2= t '.tagoj'
%ul
  %li
    %dl.dl-horizontal
      %dt.eo dimanĉo
      %dd= t '.semajno.dimanĉo'
  %li
    %dl.dl-horizontal
      %dt.eo lundo
      %dd= t '.semajno.lundo'
  %li
    %dl.dl-horizontal
      %dt.eo mardo
      %dd= t '.semajno.mardo'
  %li
    %dl.dl-horizontal
      %dt.eo merkredo
      %dd= t '.semajno.merkredo'
  %li
    %dl.dl-horizontal
      %dt.eo ĵaŭdo
      %dd= t '.semajno.ĵaŭdo'
  %li
    %dl.dl-horizontal
      %dt.eo vendredo
      %dd= t '.semajno.vendredo'
  %li
    %dl.dl-horizontal
      %dt.eo sabato
      %dd= t '.semajno.sabato'
%ul
  %li
    %dl.dl-horizontal
      %dt.eo hieraŭ
      %dd= t '.relativoj.hieraŭ'
  %li
    %dl.dl-horizontal
      %dt.eo hodiaŭ
      %dd= t '.relativoj.hodiaŭ'
  %li
    %dl.dl-horizontal
      %dt.eo morgaŭ
      %dd= t '.relativoj.morgaŭ'
