%h2= t 'dividitoj.vortaro'
%ul.fluid-row
  %li.span4
    %dl.dl-horizontal
      %dt.eo infano
      %dd= t '.infano'
  %li.span4
    %dl.dl-horizontal
      %dt.eo ĵurnalo
      %dd= t '.ĵurnalo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo kaj
      %dd= t '.kaj'
  %li.span4
    %dl.dl-horizontal
      %dt.eo kongreso
      %dd= t '.kongreso'
  %li.span4
    %dl.dl-horizontal
      %dt.eo kolekti
      %dd= t '.kolekti'
  %li.span4
    %dl.dl-horizontal
      %dt.eo lando
      %dd= t '.lando'
  %li.span4
    %dl.dl-horizontal
      %dt.eo veni
      %dd= t '.veni'
  %li.span4
    %dl.dl-horizontal
      %dt.eo leciono
      %dd= t '.leciono'
  %li.span4
    %dl.dl-horizontal
      %dt.eo lernejo
      %dd= t '.lernejo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo libro
      %dd= t '.libro'
  %li.span4
    %dl.dl-horizontal
      %dt.eo mejlo
      %dd= t '.mejlo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo manĝi
      %dd= t '.manĝi'
  %li.span4
    %dl.dl-horizontal
      %dt.eo monujo
      %dd= t '.monujo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo ovo
      %dd= t '.ovo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo neŭtrala
      %dd= t '.neŭtrala'
  %li.span4
    %dl.dl-horizontal
      %dt.eo poŝtmarko
      %dd= t '.poŝtmarko'
  %li.span4
    %dl.dl-horizontal
      %dt.eo sandviĉo
      %dd= t '.sandviĉo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo sporto
      %dd= t '.sporto'
  %li.span4
    %dl.dl-horizontal
      %dt.eo ŝuo
      %dd= t '.ŝuo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo vojaĝi
      %dd= t '.vojaĝi'
