%h2= t '.demandaj.demandaj'
%p= t '.demandaj.demandaj-ekzpliko'
%dl
  %dt= t '.demandaj.aserto.aserto'
  %dd
    %dl.dl-horizontal
      %dt.eo La pano estas seka.
      %dd= t '.demandaj.aserto.aserto-frazo'
  %dt= t '.demandaj.demando.demando'
  %dd
    %dl.dl-horizontal
      %dt.eo Ĉu la pano estas seka?
      %dd= t '.demandaj.demando.demando-frazo'
  %dt= t '.demandaj.respondo.respondo'
  %dd
    %dl.dl-horizontal
      %dt.eo Jes, la pano estas seka.
      %dd= t '.demandaj.respondo.respondo-frazo-positiva'
      %dt.eo Ne, la pano ne estas seka.
      %dd= t '.demandaj.respondo.respondo-frazo-negativa'
