.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
.row
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "bela"
      %dd= t '.bela'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "sana"
      %dd= t '.sana'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "varma"
      %dd= t '.varma'
