.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "bela"
      %dd= t '.bela'
  .span4
    %dl.dl-horizontal
      %dt= eo "sana"
      %dd= t '.sana'
  .span4
    %dl.dl-horizontal
      %dt= eo "varma"
      %dd= t '.varma'
