.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
.row-fluid
  .span4
    %ul.inline
      %li= eo "A"
      %li= eo "ami"
      %li= eo "ia"
  .span4
    %ul.inline
      %li= eo "B"
      %li= eo "bela"
      %li= eo "bona"
  .span4
    %ul.inline
      %li= eo "C"
      %li= eo "celo"
      %li= eo "scienco"
.row-fluid
  .span4
    %ul.inline
      %li= eo "Ĉ"
      %li= eo "ĉio"
      %li= eo "peĉo"
  .span4
    %ul.inline
      %li= eo "D"
      %li= eo "diri"
      %li= eo "granda"
  .span4
    %ul.inline
      %li= eo "E"
      %li= eo "eskalo"
      %li= eo "ĝene"
.row-fluid
  .span4
    %ul.inline
      %li= eo "F"
      %li= eo "feŭdo"
      %li= eo "feino"
  .span4
    %ul.inline
      %li= eo "G"
      %li= eo "gusta"
      %li= eo "ago"
  .span4
    %ul.inline
      %li= eo "Ĝ"
      %li= eo "ĝiri"
      %li= eo "ĝusta"
.row-fluid
  .span4
    %ul.inline
      %li= eo "H"
      %li= eo "horo"
      %li= eo "hajlo"
  .span4
    %ul.inline
      %li= eo "Ĥ"
      %li= eo "ĥoro"
      %li= eo "eĥo"
  .span4
    %ul.inline
      %li= eo "I"
      %li= eo "ie"
      %li= eo "ĝeni"
.row-fluid
  .span4
    %ul.inline
      %li= eo "J"
      %li= eo "juro"
      %li= eo "prujno"
  .span4
    %ul.inline
      %li= eo "Ĵ"
      %li= eo "ĵuro"
      %li= eo "ĵurnalo"
  .span4
    %ul.inline
      %li= eo "K"
      %li= eo "knabo"
      %li= eo "hoko"
.row-fluid
  .span4
    %ul.inline
      %li= eo "L"
      %li= eo "ŝelo"
      %li= eo "alto"
  .span4
    %ul.inline
      %li= eo "M"
      %li= eo "ame"
      %li= eo "iam"
  .span4
    %ul.inline
      %li= eo "N"
      %li= eo "kanabo"
      %li= eo "ruino"
.row-fluid
  .span4
    %ul.inline
      %li= eo "O"
      %li= eo "oro"
      %li= eo "ravo"
  .span4
    %ul.inline
      %li= eo "P"
      %li= eo "peco"
      %li= eo "peso"
  .span4
    %ul.inline
      %li= eo "R"
      %li= eo "roko"
      %li= eo "ero"
.row-fluid
  .span4
    %ul.inline
      %li= eo "S"
      %li= eo "selo"
      %li= eo "scii"
  .span4
    %ul.inline
      %li= eo "Ŝ"
      %li= eo "ŝerco"
      %li= eo "ŝia"
  .span4
    %ul.inline
      %li= eo "T"
      %li= eo "tio"
      %li= eo "felto"
.row-fluid
  .span4
    %ul.inline
      %li= eo "U"
      %li= eo "ju"
      %li= eo "agu"
  .span4
    %ul.inline
      %li= eo "Ŭ"
      %li= eo "aŭto"
      %li= eo "adiaŭ"
  .span4
    %ul.inline
      %li= eo "V"
      %li= eo "vejno"
      %li= eo "kvita"
.row-fluid
  .span4
    %ul.inline
      %li= eo "Z"
      %li= eo "pezo"
      %li= eo "okazi"
