%h2= t '.titolo'
%p= t '.ekspliko'
%ul.row
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo la knabo
      %dd= t '.vortoj.la-knabo'
      %dt.eo knabo
      %dd= t '.vortoj.knabo'
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo la pano
      %dd= t '.vortoj.la-pano'
      %dt.eo pano
      %dd= t '.vortoj.pano'
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo la floroj
      %dd= t '.vortoj.la-floroj'
      %dt.eo floroj
      %dd= t '.vortoj.floroj'
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo la patroj
      %dd= t '.vortoj.la-patroj'
      %dt.eo patroj
      %dd= t '.vortoj.patroj'

%h3= t '.frazoj.titolo'
%ul.row
  %li.span6
    %dl.dl-horizontal
      %dt.eo Viaj filoj estas niaj amikoj.
      %dd= t '.frazoj.frazo-1'
  %li.span6
    %dl.dl-horizontal
      %dt.eo La pano estas seka.
      %dd= t '.frazoj.frazo-2'
  %li.span6
    %dl.dl-horizontal
      %dt.eo Varma lakto estas bona.
      %dd= t '.frazoj.frazo-3'
  %li.span6
    %dl.dl-horizontal
      %dt.eo Floro estas bela.
      %dd= t '.frazoj.frazo-4'
  %li.span6
    %dl.dl-horizontal
      %dt.eo La knaboj estas grandaj.
      %dd= t '.frazoj.frazo-5'
  %li.span6
    %dl.dl-horizontal
      %dt.eo La patro estas bona.
      %dd= t '.frazoj.frazo-6'
