.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "amiko"
      %dd= t '.amiko'
  .span4
    %dl.dl-horizontal
      %dt= eo "frato"
      %dd= t '.frato'
  .span4
    %dl.dl-horizontal
      %dt= eo "kafo"
      %dd= t '.kafo'
