.page-header
  %h2= t '.titolo'
.row
  .col-xs-6
    %h3= t '.singularo.titolo'
    %dl.dl-horizontal
      %dt= eo "mi"
      %dd= t '.singularo.mi'
      %dt= eo "vi"
      %dd= t '.singularo.vi'
      %dt= eo "li"
      %dd= t '.singularo.li'
      %dt= eo "ŝi"
      %dd= t '.singularo.ŝi'
      %dt= eo "ĝi"
      %dd= t '.singularo.ĝi'
  .col-xs-6
    %h3= t '.pluralo.titolo'
    %dl.dl-horizontal
      %dt= eo "ni"
      %dd= t '.pluralo.ni'
      %dt= eo "vi"
      %dd= t '.pluralo.vi'
      %dt= eo "ili"
      %dd= t '.pluralo.ili'

%h3= t '.specialaj.titolo'
%dl.dl-horizontal
  %dt= eo "oni"
  %dd= t '.specialaj.oni'
  %dt= eo "si"
  %dd= t '.specialaj.si'
