.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
%ul.unstyled
  %li
    %dl.dl-horizontal.dl-arrow
      %dt= eo "mi"
      %dd= t 'lecionoj.leciono01.personaj_pronomoj.singularo.mi'
      %dt= eo "mia"
      %dd= t '.posedaj.mia'
  %li
    %dl.dl-horizontal.dl-arrow
      %dt= eo "vi"
      %dd= t 'lecionoj.leciono01.personaj_pronomoj.singularo.vi'
      %dt= eo "via"
      %dd= t '.posedaj.via'
  %li
    %dl.dl-horizontal.dl-arrow
      %dt= eo "ŝi"
      %dd= t 'lecionoj.leciono01.personaj_pronomoj.singularo.ŝi'
      %dt= eo "ŝia"
      %dd= t '.posedaj.ŝia'
  %li
    %dl.dl-horizontal.dl-arrow
      %dt= eo "li"
      %dd= t 'lecionoj.leciono01.personaj_pronomoj.singularo.li'
      %dt= eo "lia"
      %dd= t '.posedaj.lia'
  %li
    %dl.dl-horizontal.dl-arrow
      %dt= eo "ĝi"
      %dd= t 'lecionoj.leciono01.personaj_pronomoj.singularo.ĝi'
      %dt= eo "ĝia"
      %dd= t '.posedaj.ĝia'
  %li
    %dl.dl-horizontal.dl-arrow
      %dt= eo "ni"
      %dd= t 'lecionoj.leciono01.personaj_pronomoj.pluralo.ni'
      %dt= eo "nia"
      %dd= t '.posedaj.nia'
  %li
    %dl.dl-horizontal.dl-arrow
      %dt= eo "ili"
      %dd= t 'lecionoj.leciono01.personaj_pronomoj.pluralo.ili'
      %dt= eo "ilia"
      %dd= t '.posedaj.ilia'
= rimarkigo do
  %p= t '.rimarkigo.ekspliko'
  %ul.unstyled
    %li
      %dl.dl-horizontal.dl-arrow
        %dt= eo "mia amiko"
        %dd= t '.rimarkigo.mia-amiko'
        %dt= eo "miaj amikoj"
        %dd= t '.rimarkigo.miaj-amikoj'
    %li
      %dl.dl-horizontal.dl-arrow
        %dt= eo "nia floro"
        %dd= t '.rimarkigo.nia-floro'
        %dt= eo "niaj-floroj"
        %dd= t '.rimarkigo.niaj-floroj'
