.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "mi estas"
      %dd= t '.singularo.mi-estas'

      %dt= eo "li estis"
      %dd= t '.singularo.li-estis'

      %dt= eo "ŝi estas"
      %dd= t '.singularo.ŝi-estas'

      %dt= eo "ĝi estos"
      %dd= t '.singularo.ĝi-estos'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "ni estas"
      %dd= t '.ne-singularo.ni-estas'

      %dt= eo "vi estis"
      %dd= t '.ne-singularo.vi-estis'

      %dt= eo "ili estas"
      %dd= t '.ne-singularo.ili-estas'

      %dt= eo "oni estos"
      %dd= t '.ne-singularo.oni-estos'
