.page-header
  %h2= t 'lecionoj.aliaj.dividitoj.vortaro'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "amiko"
      %dd= t '.amiko'
  .span4
    %dl.dl-horizontal
      %dt= eo "filo"
      %dd= t '.filo'
  .span4
    %dl.dl-horizontal
      %dt= eo "frato"
      %dd= t '.frato'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "viro"
      %dd= t '.viro'
  .span4
    %dl.dl-horizontal
      %dt= eo "knabo"
      %dd= t '.knabo'
  .span4
    %dl.dl-horizontal
      %dt= eo "floro"
      %dd= t '.floro'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "patro"
      %dd= t '.patro'
  .span4
    %dl.dl-horizontal
      %dt= eo "instruisto"
      %dd= t '.instruisto'
  .span4
    %dl.dl-horizontal
      %dt= eo "kafo"
      %dd= t '.kafo'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "kuko"
      %dd= t '.kuko'
  .span4
    %dl.dl-horizontal
      %dt= eo "lakto"
      %dd= t '.lakto'
  .span4
    %dl.dl-horizontal
      %dt= eo "pano"
      %dd= t '.pano'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "sukero"
      %dd= t '.sukero'
  .span4
    %dl.dl-horizontal
      %dt= eo "teo"
      %dd= t '.teo'
  .span4
    %dl.dl-horizontal
      %dt= eo "biskvito"
      %dd= t '.biskvito'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "bela"
      %dd= t '.bela'
  .span4
    %dl.dl-horizontal
      %dt= eo "granda"
      %dd= t '.granda'
  .span4
    %dl.dl-horizontal
      %dt= eo "nova"
      %dd= t '.nova'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "bona"
      %dd= t '.bona'
  .span4
    %dl.dl-horizontal
      %dt= eo "seka"
      %dd= t '.seka'
  .span4
    %dl.dl-horizontal
      %dt= eo "blanka"
      %dd= t '.blanka'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "varma"
      %dd= t '.varma'
  .span4
    %dl.dl-horizontal
      %dt= eo "sana"
      %dd= t '.sana'
