%h2#vortaro01= t 'lecionoj.aliaj.dividitoj.vortaro'
%ul.row
  %li.span4
    %dl.dl-horizontal
      %dt.eo amiko
      %dd= t '.amiko'
  %li.span4
    %dl.dl-horizontal
      %dt.eo filo
      %dd= t '.filo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo frato
      %dd= t '.frato'
  %li.span4
    %dl.dl-horizontal
      %dt.eo viro
      %dd= t '.viro'
  %li.span4
    %dl.dl-horizontal
      %dt.eo knabo
      %dd= t '.knabo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo floro
      %dd= t '.floro'
  %li.span4
    %dl.dl-horizontal
      %dt.eo patro
      %dd= t '.patro'
  %li.span4
    %dl.dl-horizontal
      %dt.eo instruisto
      %dd= t '.instruisto'
  %li.span4
    %dl.dl-horizontal
      %dt.eo kafo
      %dd= t '.kafo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo kuko
      %dd= t '.kuko'
  %li.span4
    %dl.dl-horizontal
      %dt.eo lakto
      %dd= t '.lakto'
  %li.span4
    %dl.dl-horizontal
      %dt.eo pano
      %dd= t '.pano'
  %li.span4
    %dl.dl-horizontal
      %dt.eo sukero
      %dd= t '.sukero'
  %li.span4
    %dl.dl-horizontal
      %dt.eo teo
      %dd= t '.teo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo biskvito
      %dd= t '.biskvito'
  %li.span4
    %dl.dl-horizontal
      %dt.eo bela
      %dd= t '.bela'
  %li.span4
    %dl.dl-horizontal
      %dt.eo granda
      %dd= t '.granda'
  %li.span4
    %dl.dl-horizontal
      %dt.eo nova
      %dd= t '.nova'
  %li.span4
    %dl.dl-horizontal
      %dt.eo bona
      %dd= t '.bona'
  %li.span4
    %dl.dl-horizontal
      %dt.eo seka
      %dd= t '.seka'
  %li.span4
    %dl.dl-horizontal
      %dt.eo blanka
      %dd= t '.blanka'
  %li.span4
    %dl.dl-horizontal
      %dt.eo varma
      %dd= t '.varma'
  %li.span4
    %dl.dl-horizontal
      %dt.eo sana
      %dd= t '.sana'
