.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt= eo "13 jan. 1964"
  %dd= eo "La dektria (tago) de januaro (en la jaro) mil naŭcent sesdek kvar"
  %dt= eo "4 dec. 1958"
  %dd= eo "La kvara de decembro mil naŭcent kvindek ok"
  %dt= eo "14 jul. 1887"
  %dd= eo "La dekkvara de julio mil okcent okdek sep"
