.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
%dl
  %dt= t '.aserto.titolo'
  %dd
    %dl.dl-horizontal
      %dt= eo "La pano estas seka."
      %dd= t '.aserto.frazo-1'
  %dt= t '.demando.titolo'
  %dd
    %dl.dl-horizontal
      %dt= eo "Ĉu la pano estas seka?"
      %dd= t '.demando.frazo-1'
  %dt= t '.respondo.titolo'
  %dd
    %dl.dl-horizontal
      %dt= eo "Jes, la pano estas seka."
      %dd= t '.respondo.frazo-positiva'
      %dt= eo "Ne, la pano ne estas seka."
      %dd= t '.respondo.frazo-negativa'
