.page-header
  %h2= t '.titolo'
%ul
  %li
    %dl.dl-horizontal
      %dt= eo "januaro"
      %dd= t '.januaro'
  %li
    %dl.dl-horizontal
      %dt= eo "februaro"
      %dd= t '.februaro'
  %li
    %dl.dl-horizontal
      %dt= eo "marto"
      %dd= t '.marto'
  %li
    %dl.dl-horizontal
      %dt= eo "aprilo"
      %dd= t '.aprilo'
  %li
    %dl.dl-horizontal
      %dt= eo "majo"
      %dd= t '.majo'
  %li
    %dl.dl-horizontal
      %dt= eo "junio"
      %dd= t '.junio'
  %li
    %dl.dl-horizontal
      %dt= eo "julio"
      %dd= t '.julio'
  %li
    %dl.dl-horizontal
      %dt= eo "aŭgusto"
      %dd= t '.aŭgusto'
  %li
    %dl.dl-horizontal
      %dt= eo "septembro"
      %dd= t '.septembro'
  %li
    %dl.dl-horizontal
      %dt= eo "oktobro"
      %dd= t '.oktobro'
  %li
    %dl.dl-horizontal
      %dt= eo "novembro"
      %dd= t '.novembro'
  %li
    %dl.dl-horizontal
      %dt= eo "decembro"
      %dd= t '.decembro'
