.page-header
  %h2= t '.titolo'
.row
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "januaro"
      %dd= t '.januaro'
      %dt= eo "februaro"
      %dd= t '.februaro'
      %dt= eo "marto"
      %dd= t '.marto'
      %dt= eo "aprilo"
      %dd= t '.aprilo'
      %dt= eo "majo"
      %dd= t '.majo'
      %dt= eo "junio"
      %dd= t '.junio'
  .col-xs-6
    %dl.dl-horizontal
      %dt= eo "julio"
      %dd= t '.julio'
      %dt= eo "aŭgusto"
      %dd= t '.aŭgusto'
      %dt= eo "septembro"
      %dd= t '.septembro'
      %dt= eo "oktobro"
      %dd= t '.oktobro'
      %dt= eo "novembro"
      %dd= t '.novembro'
      %dt= eo "decembro"
      %dd= t '.decembro'
