%h2= t '.titolo'
%ul
  %li
    %dl.dl-horizontal
      %dt.eo Saluton !
      %dd= t '.saluto-1'
  %li
    %dl.dl-horizontal
      %dt.eo Bonan tagon !
      %dd= t '.saluto-2'
  %li
    %dl.dl-horizontal
      %dt.eo Bonan matenon !
      %dd= t '.saluto-3'
  %li
    %dl.dl-horizontal
      %dt.eo Bonan vesperon !
      %dd= t '.saluto-4'
  %li
    %dl.dl-horizontal
      %dt.eo Bonan nokton !
      %dd= t '.saluto-5'
  %li
    %dl.dl-horizontal
      %dt.eo Kiel vi fartas ?
      %dd= t '.saluto-6'
      %dt.eo Bone, dankon. Kaj vi ?
      %dd= t '.saluto-7'
      %dt.eo Sufiĉe bone.
      %dd= t '.saluto-8'
      %dt.eo Ne tre bone.
      %dd= t '.saluto-9'
  %li
    %dl.dl-horizontal
      %dt.eo Bonan apetiton !
      %dd= t '.saluto-10'
      %dt.eo Same al vi, dankon !
      %dd= t '.saluto-11'
  %li
    %dl.dl-horizontal
      %dt.eo Je via sano !
      %dd= t '.saluto-12'
  %li
    %dl.dl-horizontal
      %dt.eo Ĝis revido !
      %dd= t '.saluto-13'
  %li
    %dl.dl-horizontal
      %dt.eo Adiaŭ !
      %dd= t '.saluto-14'
