.page-header
  %h2= t '.titolo'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "dimanĉo"
      %dd= t '.semajno.dimanĉo'
      %dt= eo "lundo"
      %dd= t '.semajno.lundo'
      %dt= eo "mardo"
      %dd= t '.semajno.mardo'
      %dt= eo "merkredo"
      %dd= t '.semajno.merkredo'
      %dt= eo "ĵaŭdo"
      %dd= t '.semajno.ĵaŭdo'
      %dt= eo "vendredo"
      %dd= t '.semajno.vendredo'
      %dt= eo "sabato"
      %dd= t '.semajno.sabato'
  .span6
    %dl.dl-horizontal
      %dt= eo "hieraŭ"
      %dd= t '.relativoj.hieraŭ'
      %dt= eo "hodiaŭ"
      %dd= t '.relativoj.hodiaŭ'
      %dt= eo "morgaŭ"
      %dd= t '.relativoj.morgaŭ'
