.page-header
  %h2= t 'lecionoj.aliaj.dividitoj.tekstokompreno'
%p= t '.ekspliko'
%p Mia nomo estas Petro. Mi vivas en Brazilo. Mi komencis lerni Esperanton antaŭ kvar semajnoj. Ĝi estas tre facila lingvo. Mi loĝas en domo kun mia edzino kaj niaj infanoj. Ni havas unu filon kaj du filinojn. Mi kolektas poŝtmarkon kaj bildkartojn kaj ŝatas interŝanĝi ilin kun esperantistoj n aliaj landoj.
%audio
%ul.row
  %li.span4
    %dl.dl-horizontal
      %dt.eo tre
      %dd= t '.vortaro.tre'
  %li.span4
    %dl.dl-horizontal
      %dt.eo antaŭ
      %dd= t '.vortaro.antaŭ'
  %li.span4
    %dl.dl-horizontal
      %dt.eo interŝanĝi
      %dd= t '.vortaro.interŝanĝi'
  %li.span4
    %dl.dl-horizontal
      %dt.eo komenci
      %dd= t '.vortaro.komenci'
  %li.span4
    %dl.dl-horizontal
      %dt.eo facila
      %dd= t '.vortaro.facila'
  %li.span4
    %dl.dl-horizontal
      %dt.eo alia
      %dd= t '.vortaro.alia'
