.page-header
  %h2= t 'lecionoj.aliaj.dividitoj.vortaro'
.row
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "infano"
      %dd= t '.infano'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "ĵurnalo"
      %dd= t '.ĵurnalo'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "kaj"
      %dd= t '.kaj'
.row
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "kongreso"
      %dd= t '.kongreso'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "kolekti"
      %dd= t '.kolekti'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "lando"
      %dd= t '.lando'
.row
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "veni"
      %dd= t '.veni'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "leciono"
      %dd= t '.leciono'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "lernejo"
      %dd= t '.lernejo'
.row
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "libro"
      %dd= t '.libro'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "mejlo"
      %dd= t '.mejlo'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "manĝi"
      %dd= t '.manĝi'
.row
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "monujo"
      %dd= t '.monujo'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "ovo"
      %dd= t '.ovo'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "neŭtrala"
      %dd= t '.neŭtrala'
.row
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "poŝtmarko"
      %dd= t '.poŝtmarko'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "sandviĉo"
      %dd= t '.sandviĉo'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "sporto"
      %dd= t '.sporto'
.row
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "ŝuo"
      %dd= t '.ŝuo'
  .col-xs-4
    %dl.dl-horizontal
      %dt= eo "vojaĝi"
      %dd= t '.vojaĝi'
