.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
%h3 Merlin - Bluaj Fragoj
.muziko
  .muziko-ludanto.muziko-ludanto-video
    %iframe{width:"420", height:"315", src:"http://www.youtube.com/embed/U8H8f2IM8gY?wmode=transparent", frameborder:"0", allowfullscreen:"allowfullscreen"}
  .muziko-litero
    %blockquote
      %p
        Ĝis kie mi povas iri
        %br/
        Pruvi mian amon al vi?
        %br/
        Mi aliros ĝis la fino
        %br/
        De la ĉielarko de via animo
        %br/
        Mi volas scii kiom da valoro
        %br/
        Scii tutan la veron
        %br/
        Marŝi sub la pluvo
        %br/
        Baniĝi en la lumo
        %br/
        Nur mi povas diri
        %br/
        Ĉion, kion mi scias
        %br/
        Ĉion, kion mi sentas
        %br/
        Ĉion, kio mi estas
        %br/
        Alveni eĉ en senfino
        %br/
        Kaj doni al ĝi mian koron
        %br/
        En kesto de bluaj fragoj
        %br/
        Ĝis kie mi povas ...
        %br/
        \...En kesto de bluaj fragoj...
%h3= t 'lecionoj.aliaj.dividitoj.vortaro'
%p= t '.vortaro.ekspliko'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "frago"
      %dd= t '.vortaro.frago'
  .span6
    %dl.dl-horizontal
      %dt= eo "pruvi"
      %dd= t '.vortaro.pruvi'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "aliri (= iri al)"
      %dd= t '.vortaro.aliri'
  .span6
    %dl.dl-horizontal
      %dt= eo "ĉielo"
      %dd= t '.vortaro.ĉielo'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "arko"
      %dd= t '.vortaro.arko'
  .span6
    %dl.dl-horizontal
      %dt= eo "ĉielarko"
      %dd= t '.vortaro.ĉielarko'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "animo"
      %dd= t '.vortaro.animo'
  .span6
    %dl.dl-horizontal
      %dt= eo "valoro"
      %dd= t '.vortaro.valoro'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "vero"
      %dd= t '.vortaro.vero'
  .span6
    %dl.dl-horizontal
      %dt= eo "lumo"
      %dd= t '.vortaro.lumo'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "alveni (= veni al)"
      %dd= t '.vortaro.alveni-al'
  .span6
    %dl.dl-horizontal
      %dt= eo "senfino (sen + fino)"
      %dd= t '.vortaro.senfino'
