.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
%dl
  %dt.eo Okazis io grava.
  %dd= t '.frazo-1'
  %dt.eo Mi tre ĝojas hodiaŭ.
  %dt.eo Mi estas tre ĝoja hodiaŭ.
  %dd= t '.frazo-2'
  %dt.eo Ilis jam dormas en siaj litoj.
  %dd= t '.frazo-3'
  %dt.eo La gejunuloj multe dancis.
  %dd= t '.frazo-4'
= rimarkigo do
  %p= t '.rimarkigo-1.ekspliko-1'
  %dl.dl-horizontal
    %dt.eo Lia patro mortis pro kancero.
    %dd= t '.rimarkigo-1.frazo-1'
    %dt.eo Mi tre ĝojas pri via feliĉo!
    %dd= t '.rimarkigo-1.frazo-2'
  %p= t '.rimarkigo-1.ekspliko-2'
  %dl.dl-horizontal
    %dt.eo Ŝi dormas profundan dormon.
    %dd= t '.rimarkigo-1.frazo-3'
    %dt.eo Ŝi dancis valson kun li.
    %dd= t '.rimarkigo-1.frazo-4'
%p= t '.iĝ.ekspliko'
%p= t '.iĝ.unu.ekspliko'
%dl.dl-horizontal
  %dt.eo En vintro la akvoj glaciiĝas.
  %dd= t '.iĝ.unu.frazo-1'
  %dt.eo Hodiaŭ la vetero denove varmiĝis.
  %dd= t '.iĝ.unu.frazo-2'
  %dt.eo Ŝi edziniĝis kun ŝia kuzo.
  %dd= t '.iĝ.unu.frazo-3'
%p= t '.iĝ.du.ekspliko'
%dl.dl-horizontal
  %dt.eo La amaso kuris malpli rapide ol la veturilo, kiu ruliĝis tre rapide.
  %dd= t '.iĝ.du.frazo-1'
  %dt.eo Li subite troviĝis sur la strato, tute sola.
  %dd= t '.iĝ.du.frazo-2'
  %dt.eo La kioma horo komenciĝos la leciono?
  %dd= t '.iĝ.du.frazo-3'
  %dt.eo Amasoj da pasantoj moviĝis sur la trotuaroj.
  %dd= t '.iĝ.du.frazo-4'
%p= t '.sen-subjekto.ekspliko'
%dl.dl-horizontal
  %dt.eo Hieraŭ multe pluvis.
  %dd= t '.sen-subjekto.frazo-1'
  %dt.eo Tagiĝas, kaj mi devas ekiri hejmen.
  %dd= t '.sen-subjekto.frazo-2'
  %dt.eo Neĝis tre forte, kaj li ne povis eliri el la kabano.
  %dd= t '.sen-subjekto.frazo-3'
%p= t '.ig.ekspliko'
%dl.dl-horizontal
  %dt.eo La vojaĝo certe vin lacigis.
  %dd= t '.ig.frazo-1'
  %dt.eo La suda suno bruligas lian nudan kapon.
  %dd= t '.ig.frazo-2'
  %dt.eo La patro volas tuj edzinigi la pli aĝan filinon.
  %dd= t '.ig.frazo-3'
= rimarkigo do
  %p= t '.rimarkigo-2.ekspliko'
