.page-header
  %h2= t '.titolo'
%p= t '.ekspliko-1'
%p= t '.ekspliko-2'
%ul.unstyled
  %li.eo sano, sana, sane, resaniĝi, sanigisto, sanigilo, ...
  %li.eo varma, varmigi, varmiĝi, varmo, varmeco, varmeta, ...
  %li.eo bela, belulo, belulino, malbelulo, malbelulino, beleco, ...
= rimarkigo do
  %p= t '.rimarkigo'
%ul.unstyled
  %li.eo Beluleto = eta belulo (ekz. pri beboj, infanoj, ktp.)
  %li.eo Beletulo = beleta ulo (ekz. pri viro, kiu ne estas tre bela)
%p= t '.ekspliko-3'
%dl.dl-horizontal
  %dt.eo vaporŝipo
  %dd= t '.vortoj.vaporŝipo'
  %dt.eo balenŝipo
  %dd= t '.vortoj.balenŝipo'
  %dt.eo spacoŝipo
  %dd= t '.vortoj.spacoŝipo'
  %dt.eo rondiro
  %dd= t '.vortoj.rondiro'
  %dt.eo piediro
  %dd= t '.vortoj.piediro'
  %dt.eo helruĝo
  %dd= t '.vortoj.helruĝo'
  %dt.eo sangruĝo
  %dd= t '.vortoj.sangruĝo'
  %dt.eo matenruĝo
  %dd= t '.vortoj.matenruĝo'
  %dt.eo antaŭbrako
  %dd= t '.vortoj.antaŭbrako'
  %dt.eo laŭtlegi
  %dd= t '.vortoj.laŭtlegi'
  %dt.eo satmanĝi
  %dd= t '.vortoj.satmanĝi'
  %dt.eo jarmilo
  %dd= t '.vortoj.jarmilo'
  %dt.eo jarcento
  %dd= t '.vortoj.jarcento'
%p= t '.ekspliko-4'
%dl.dl-horizontal
  %dt.eo sur la tablo → surtabla
  %dd.eo La surtabla vazo kostis cent dolarojn.
  %dd.eo La vazo sur la tablo kostis cent dolarojn.
  %dt.eo kun blanka ĉapelo → blankĉapela
  %dd.eo La blankĉapela sijnoro estas la patro de Maria.
  %dd.eo La sijnoro kun blanka ĉapelo estas la patro de Maria.
  %dt.eo kun multe da kosto → multekosta, multkosta
  %dd.eo Li aĉetis multekostan donacon por la edzino.
  %dt.eo Oni diras → onidiro
  %dd.eo Laŭ la onidiroj li ekhavos gravan postenon.
