%h2= t '.artikolo.artikolo'
%p= t '.artikolo.artikolo-ekzpliko'
%ul.fluid-row
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo la knabo
      %dd= t '.artikolo.la-knabo'
      %dt.eo knabo
      %dd= t '.artikolo.knabo'
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo la pano
      %dd= t '.artikolo.la-pano'
      %dt.eo pano
      %dd= t '.artikolo.pano'
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo la floroj
      %dd= t '.artikolo.la-floroj'
      %dt.eo floroj
      %dd= t '.artikolo.floroj'
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo la patroj
      %dd= t '.artikolo.la-patroj'
      %dt.eo patroj
      %dd= t '.artikolo.patroj'

%h2= t '.frazoj.frazoj'
%ul.fluid-row
  %li.span6
    %dl.dl-horizontal
      %dt.eo Viaj filoj estas niaj amikoj.
      %dd= t '.frazoj.frazo01'
  %li.span6
    %dl.dl-horizontal
      %dt.eo La pano estas seka.
      %dd= t '.frazoj.frazo02'
  %li.span6
    %dl.dl-horizontal
      %dt.eo Varma lakto estas bona.
      %dd= t '.frazoj.frazo03'
  %li.span6
    %dl.dl-horizontal
      %dt.eo Floro estas bela.
      %dd= t '.frazoj.frazo04'
  %li.span6
    %dl.dl-horizontal
      %dt.eo La knaboj estas grandaj.
      %dd= t '.frazoj.frazo05'
  %li.span6
    %dl.dl-horizontal
      %dt.eo La patro estas bona.
      %dd= t '.frazoj.frazo06'
