%h2= t '.posedaj-pronomoj'
%p= t '.posedaj-pronomoj-ekzpliko'
%ul
  %li
    %dl.dl-horizontal.dl-arrow
      %dt.eo mi
      %dd= t 'views.kurso.leciono01.lecionoj.pagxo03.singularo.mi'
      %dt.eo mia
      %dd= t '.posedaj.mia'
  %li
    %dl.dl-horizontal.dl-arrow
      %dt.eo vi
      %dd= t 'views.kurso.leciono01.lecionoj.pagxo03.singularo.vi'
      %dt.eo via
      %dd= t '.posedaj.via'
  %li
    %dl.dl-horizontal.dl-arrow
      %dt.eo ŝi
      %dd= t 'views.kurso.leciono01.lecionoj.pagxo03.singularo.sxi'
      %dt.eo ŝia
      %dd= t '.posedaj.sxia'
  %li
    %dl.dl-horizontal.dl-arrow
      %dt.eo li
      %dd= t 'views.kurso.leciono01.lecionoj.pagxo03.singularo.li'
      %dt.eo lia
      %dd= t '.posedaj.lia'
  %li
    %dl.dl-horizontal.dl-arrow
      %dt.eo ĝi
      %dd= t 'views.kurso.leciono01.lecionoj.pagxo03.singularo.gxi'
      %dt.eo ĝia
      %dd= t '.posedaj.gxia'
  %li
    %dl.dl-horizontal.dl-arrow
      %dt.eo ni
      %dd= t 'views.kurso.leciono01.lecionoj.pagxo03.pluralo.ni'
      %dt.eo nia
      %dd= t '.posedaj.nia'
  %li
    %dl.dl-horizontal.dl-arrow
      %dt.eo ili
      %dd= t 'views.kurso.leciono01.lecionoj.pagxo03.pluralo.ili'
      %dt.eo ilia
      %dd= t '.posedaj.ilia'
= rimarkigo do
  %p= t '.rimarkigo.posedaj-pronomoj-rimarkigo'
  %ul.fluid-row
    %li.span6
      %dl.dl-horizontal.dl-arrow
        %dt.eo mia amiko
        %dd= t '.rimarkigo.mia-amiko'
        %dt.eo miaj amikoj
        %dd= t '.rimarkigo.miaj-amikoj'
    %li.span6
      %dl.dl-horizontal.dl-arrow
        %dt.eo nia floro
        %dd= t '.rimarkigo.nia-floro'
        %dt.eo niaj-floroj
        %dd= t '.rimarkigo.niaj-floroj'
