%h2= t '.pluralo-titolo'
%p= t '.pluralo-ekzpliko'
%ul.fluid-row
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo amiko
      %dd= t '.singularo.amiko'
      %dt.eo amikoj
      %dd= t '.pluralo.amikoj'
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo patro
      %dd= t '.singularo.patro'
      %dt.eo patroj
      %dd= t '.pluralo.patroj'
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo floro
      %dd= t '.singularo.floro'
      %dt.eo floroj
      %dd= t '.pluralo.floroj'
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo bela
      %dd= t '.singularo.bela'
      %dt.eo belaj
      %dd= t '.pluralo.belaj'
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo sana
      %dd= t '.singularo.sana'
      %dt.eo sanaj
      %dd= t '.pluralo.sanaj'
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo bela floro
      %dd= t '.singularo.bela-floro'
      %dt.eo belaj floroj
      %dd= t '.pluralo.belaj-floroj'
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo sana patro
      %dd= t '.singularo.sana-patro'
      %dt.eo sanaj patroj
      %dd= t '.pluralo.sanaj-patroj'
  %li.span6
    %dl.dl-horizontal.dl-arrow
      %dt.eo bona amiko
      %dd= t '.singularo.bona-amiko'
      %dt.eo bonaj amikoj
      %dd= t '.pluralo.bonaj-amikoj'
