%h2= t '.personaj-pronomoj'
.fluid-row
  .span6
    %h3= t '.singularo.singularo'
    %dl.dl-horizontal
      %dt.eo mi
      %dd= t '.singularo.mi'

      %dt.eo vi
      %dd= t '.singularo.vi'

      %dt.eo li
      %dd= t '.singularo.li'

      %dt.eo ŝi
      %dd= t '.singularo.sxi'

      %dt.eo ĝi
      %dd= t '.singularo.gxi'
  .span6
    %h3= t '.pluralo.pluralo'
    %dl.dl-horizontal
      %dt.eo ni
      %dd= t '.pluralo.ni'

      %dt.eo vi
      %dd= t '.pluralo.vi'

      %dt.eo ili
      %dd= t '.pluralo.ili'
%h3= t '.specialaj.specialaj'
%dl.dl-horizontal
  %dt.eo oni
  %dd= t '.specialaj.oni'

  %dt.eo si
  %dd= t '.specialaj.si'
