%h2= t '.verboj.verboj'
%p= t '.verboj.verboj-ekspliko'
.fluid-row
  .span6
    %dl.dl-horizontal
      %dt.eo mi estas
      %dd= t '.verboj.singularo.mi-estas'

      %dt.eo li estis
      %dd= t '.verboj.singularo.li-estis'

      %dt.eo ŝi estas
      %dd= t '.verboj.singularo.sxi-estas'

      %dt.eo ĝi estos
      %dd= t '.verboj.singularo.gxi-estos'
  .span6
    %dl.dl-horizontal
      %dt.eo ni estas
      %dd= t '.verboj.ne-singularo.ni-estas'

      %dt.eo vi estis
      %dd= t '.verboj.ne-singularo.vi-estis'

      %dt.eo ili estas
      %dd= t '.verboj.ne-singularo.ili-estas'

      %dt.eo oni estos
      %dd= t '.verboj.ne-singularo.oni-estos'

%h2= t '.nomoj.nomoj'
%p= t '.nomoj.nomoj-ekspliko'
%dl.dl-horizontal.fluid-row
  .span4
    %dt.eo amiko
    %dd= t '.nomoj.amiko'
  .span4
    %dt.eo frato
    %dd= t '.nomoj.frato'
  .span4
    %dt.eo kafo
    %dd= t '.nomoj.kafo'

%h2= t '.adjektivoj.adjektivoj'
%p= t '.adjektivoj.adjektivoj-ekspliko'
%dl.dl-horizontal.fluid-row
  .span4
    %dt.eo bela
    %dd= t '.adjektivoj.bela'
  .span4
    %dt.eo sana
    %dd= t '.adjektivoj.sana'
  .span4
    %dt.eo varma
    %dd= t '.adjektivoj.varma'
