.page-header
  %h2= t '.titolo'
%p= t '.ekspliko-1'
%dl
  %dt= eo "Mi lavas la <em>novan tason</em>."
  %dd= t '.frazo-singulara'
  %dt= eo "Mi lavas la <em>novajn tasojn</em>."
  %dd= t '.frazo-plurala'
%p= t '.ekspliko-2'
.row-fluid
  .span4= eo "Mi lavas la novan tason."
  .span4= eo "La novan tason lavas mi."
  .span4= eo "La novan tason mi lavas."
= rimarkigo do
  %p= t '.rimarkigo-1'
= rimarkigo do
  %p= t '.rimarkigo-2'
