.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
%dl
  %dt= eo "Mi ne lavos la novan tason."
  %dd= t '.frazoj.frazo-1'
  %dt= eo "Li ne estas mia frato."
  %dd= t '.frazoj.frazo-2'
  %dt= eo "Ŝi ne estas mia patrino."
  %dd= t '.frazoj.frazo-3'
  %dt= eo "La kukoj ne estis varmaj."
  %dd= t '.frazoj.frazo-4'
