%h2#neado= t '.titolo'
%p= t '.ekspliko'
%ul
  %li
    %dl.dl-horizontal
      %dt.eo Mi ne lavos la novan tason.
      %dd= t '.frazo-1'
  %li
    %dl.dl-horizontal
      %dt.eo Li ne estas mia frato.
      %dd= t '.frazo-2'
  %li
    %dl.dl-horizontal
      %dt.eo Ŝi ne estas mia patrino.
      %dd= t '.frazo-3'
  %li
    %dl.dl-horizontal
      %dt.eo La kukoj ne estis varmaj.
      %dd= t '.frazo-4'
