.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "amiko"
      %dd= t '.sin.amiko'
      %dt= eo "malamiko"
      %dd= t '.kun.malamiko'
  .span6
    %dl.dl-horizontal
      %dt= eo "nova"
      %dd= t '.sin.nova'
      %dt= eo "malnova"
      %dd= t '.kun.malnova'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "avara"
      %dd= t '.sin.avara'
      %dt= eo "malavara"
      %dd= t '.kun.malavara'
  .span6
    %dl.dl-horizontal
      %dt= eo "bela"
      %dd= t '.sin.bela'
      %dt= eo "malbela"
      %dd= t '.kun.malbela'
.row-fluid
  .span6
    %dl.dl-horizontal
      %dt= eo "juna"
      %dd= t '.sin.juna'
      %dt= eo "maljuna"
      %dd= t '.kun.maljuna'
