%h2= t '.titolo'
%p= t '.ekspliko'
%ul.row
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo amiko
      %dd= t '.sin.amiko'
      %dt.eo malamiko
      %dd= t '.kun.malamiko'
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo nova
      %dd= t '.sin.nova'
      %dt.eo malnova
      %dd= t '.kun.malnova'
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo avara
      %dd= t '.sin.avara'
      %dt.eo malavara
      %dd= t '.kun.malavara'
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo bela
      %dd= t '.sin.bela'
      %dt.eo malbela
      %dd= t '.kun.malbela'
  %li.span4
    %dl.dl-horizontal.dl-arrow
      %dt.eo juna
      %dd= t '.sin.juna'
      %dt.eo maljuna
      %dd= t '.kun.maljuna'
