%h2= t '.titolo'
%p= t '.ekspliko-1'
%p= t '.ekspliko-2'
.row
  .span6
    %ul
      %li
        %dl.dl-horizontal.dl-arrow
          %dt.eo viro
          %dd= t '.vortoj.viro'
          %dt.eo virino
          %dd= t '.vortoj.virino'
      %li
        %dl.dl-horizontal.dl-arrow
          %dt.eo amiko
          %dd= t '.vortoj.amiko'
          %dt.eo amikino
          %dd= t '.vortoj.amikino'
      %li
        %dl.dl-horizontal.dl-arrow
          %dt.eo filo
          %dd= t '.vortoj.filo'
          %dt.eo filino
          %dd= t '.vortoj.filino'
      %li
        %dl.dl-horizontal.dl-arrow
          %dt.eo patro
          %dd= t '.vortoj.patro'
          %dt.eo patrino
          %dd= t '.vortoj.patrino'
  .span6
    %ul
      %li
        %dl.dl-horizontal
          %dt.eo la grandaj virinoj
          %dd= t '.frazoj.frazo-virino'
      %li
        %dl.dl-horizontal
          %dt.eo la bela amikino
          %dd= t '.frazoj.frazo-amikino'
      %li
        %dl.dl-horizontal
          %dt.eo la bona patrino
          %dd= t '.frazoj.frazo-patrino'
