.page-header
  %h2= t 'lecionoj.aliaj.dividitoj.vortaro'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "akvo"
      %dd= t '.akvo'
  .span4
    %dl.dl-horizontal
      %dt= eo "ami"
      %dd= t '.ami'
  .span4
    %dl.dl-horizontal
      %dt= eo "amo"
      %dd= t '.amo'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "birdo"
      %dd= t '.birdo'
  .span4
    %dl.dl-horizontal
      %dt= eo "butiko"
      %dd= t '.butiko'
  .span4
    %dl.dl-horizontal
      %dt= eo "fari"
      %dd= t '.fari'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "forgesi"
      %dd= t '.forgesi'
  .span4
    %dl.dl-horizontal
      %dt= eo "havi"
      %dd= t '.havi'
  .span4
    %dl.dl-horizontal
      %dt= eo "insekto"
      %dd= t '.insekto'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "kapti"
      %dd= t '.kapti'
  .span4
    %dl.dl-horizontal
      %dt= eo "lavi"
      %dd= t '.lavi'
  .span4
    %dl.dl-horizontal
      %dt= eo "limonado"
      %dd= t '.limonado'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "papero"
      %dd= t '.papero'
  .span4
    %dl.dl-horizontal
      %dt= eo "peti"
      %dd= t '.peti'
  .span4
    %dl.dl-horizontal
      %dt= eo "plumo"
      %dd= t '.plumo'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "porti"
      %dd= t '.porti'
  .span4
    %dl.dl-horizontal
      %dt= eo "pura"
      %dd= t '.pura'
  .span4
    %dl.dl-horizontal
      %dt= eo "renkonti"
      %dd= t '.renkonti'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "skribi"
      %dd= t '.skribi'
  .span4
    %dl.dl-horizontal
      %dt= eo "sukeri"
      %dd= t '.sukeri'
  .span4
    %dl.dl-horizontal
      %dt= eo "taso"
      %dd= t '.taso'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "trinki"
      %dd= t '.trinki'
  .span4
    %dl.dl-horizontal
      %dt= eo "trovi"
      %dd= t '.trovi'
  .span4
    %dl.dl-horizontal
      %dt= eo "vendi"
      %dd= t '.vendi'
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt= eo "vidi"
      %dd= t '.vidi'
