%h2#vortaro02= t 'lecionoj.aliaj.dividitoj.vortaro'
%ul.row
  %li.span4
    %dl.dl-horizontal
      %dt.eo akvo
      %dd= t '.akvo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo ami
      %dd= t '.ami'
  %li.span4
    %dl.dl-horizontal
      %dt.eo amo
      %dd= t '.amo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo birdo
      %dd= t '.birdo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo butiko
      %dd= t '.butiko'
  %li.span4
    %dl.dl-horizontal
      %dt.eo fari
      %dd= t '.fari'
  %li.span4
    %dl.dl-horizontal
      %dt.eo forgesi
      %dd= t '.forgesi'
  %li.span4
    %dl.dl-horizontal
      %dt.eo havi
      %dd= t '.havi'
  %li.span4
    %dl.dl-horizontal
      %dt.eo insekto
      %dd= t '.insekto'
  %li.span4
    %dl.dl-horizontal
      %dt.eo kapti
      %dd= t '.kapti'
  %li.span4
    %dl.dl-horizontal
      %dt.eo lavi
      %dd= t '.lavi'
  %li.span4
    %dl.dl-horizontal
      %dt.eo limonado
      %dd= t '.limonado'
  %li.span4
    %dl.dl-horizontal
      %dt.eo papero
      %dd= t '.papero'
  %li.span4
    %dl.dl-horizontal
      %dt.eo peti
      %dd= t '.peti'
  %li.span4
    %dl.dl-horizontal
      %dt.eo plumo
      %dd= t '.plumo'
  %li.span4
    %dl.dl-horizontal
      %dt.eo porti
      %dd= t '.porti'
  %li.span4
    %dl.dl-horizontal
      %dt.eo pura
      %dd= t '.pura'
  %li.span4
    %dl.dl-horizontal
      %dt.eo renkonti
      %dd= t '.renkonti'
  %li.span4
    %dl.dl-horizontal
      %dt.eo skribi
      %dd= t '.skribi'
  %li.span4
    %dl.dl-horizontal
      %dt.eo sukeri
      %dd= t '.sukeri'
  %li.span4
    %dl.dl-horizontal
      %dt.eo taso
      %dd= t '.taso'
  %li.span4
    %dl.dl-horizontal
      %dt.eo trinki
      %dd= t '.trinki'
  %li.span4
    %dl.dl-horizontal
      %dt.eo trovi
      %dd= t '.trovi'
  %li.span4
    %dl.dl-horizontal
      %dt.eo vendi
      %dd= t '.vendi'
  %li.span4
    %dl.dl-horizontal
      %dt.eo vidi
      %dd= t '.vidi'
