.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
%dl
  %dt= eo "Ĉu la skatolo estas blu?"
  %dd= t '.frazo-1'
  %dt= eo "Ĉu vi iros al la kinejo?"
  %dd= t '.frazo-2'
  %dt= eo "La skatolo estas blua, ĉu ne?"
  %dd= t '.frazo-3'
  %dt= eo "Vi iros al la kinejo, ĉu ne?"
  %dd= t '.frazo-4'
  %dt= eo "La skatolo ne estas blua, ĉu?"
  %dd= t '.frazo-5'
  %dt= eo "Vi ne iros al la kinejo, ĉu?"
  %dd= t '.frazo-6'
