.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt.eo jen... jen
  %dd= t '.jen'
  %dt.eo La knabo jen ploris, jen ridis.
  %dd= t '.jen-frazo-1'
  %dt.eo Lia vizaĝo jen ruĝiĝis, jen paliĝis.
  %dd= t '.jen-frazo-2'
%dl.dl-horizontal
  %dt.eo ne... nek / nek... nek
  %dd= t '.nek'
  %dt.eo Ŝi ne aĉetis la veston, ne luis iun.
  %dd= t '.nek-frazo-1'
  %dt.eo Ŝi aĉetis nek libron, nek veston.
  %dd= t '.nek-frazo-2'
%dl.dl-horizontal
  %dt.eo ju... des
  %dd= t '.ju'
  %dt.eo Ju pli da havo, des pli da pravo.
  %dd= t '.ju-frazo-1'
  %dt.eo Ju pli da bruo, des malpli da ĝuo.
  %dd= t '.ju-frazo-2'
%dl.dl-horizontal
  %dt.eo kaj... kaj
  %dd= t '.kaj'
  %dt.eo Kaj Petro kaj Karlo laboras.
  %dd= t '.kaj-frazo-1'
  %dt.eo Kaj pluvas kaj ventas.
  %dd= t '.kaj-frazo-2'
%dl.dl-horizontal
  %dt.eo ĉu... ĉu
  %dd= t '.ĉu'
  %dt.eo Ĉu pluvos, ĉu sunos, mi ja iros.
  %dd= t '.ĉu-frazo-1'
  %dt.eo Ĉu pro timo, ĉu pro fiero, li nenion respondis.
  %dd= t '.ĉu-frazo-2'
