.page-header
  %h2= t '.titolo'
%ul.unstyled
  %li
    %dl
      %dt= eo "Kioma horo estas?"
      %dd= t '.kioma-estas'
    %dl.dl-horizontal
      %dt 06:40
      %dd= eo "Estas la sesa kaj kvardek"
      %dd= eo "Estas kvardek post la sesa"
    %dl.dl-horizontal
      %dt 07:00
      %dd= eo "Estas la sepa"
      %dd= eo "Estas la sepa matene"
    %dl.dl-horizontal
      %dt 07:15
      %dd= eo "Estas la sepa kaj dek kvin"
      %dd= eo "Estas kvarono post la sepa"
    %dl.dl-horizontal
      %dt 07:45
      %dd= eo "Estas la sepa kaj kvardek kvin"
      %dd= eo "Estas kvarono antaŭ la oka"
    %dl.dl-horizontal
      %dt 07:53
      %dd= eo "Estas la sepa kaj kvindek tri"
      %dd= eo "Estas sep (minutoj) antaŭ la oka"
  %li
    %dl
      %dt= eo "Je kioma horo vi telefonos?"
      %dd= t '.je-kioma'
    %dl.dl-horizontal
      %dt 14:00
      %dd= eo "Je la dua posttagmeze"
      %dd= eo "Je la dua"
    %dl.dl-horizontal
      %dt 19:00
      %dd= eo "Je la sepa vespere"
      %dd= eo "Je la sepa posttagmze"
    %dl.dl-horizontal
      %dt 24:00
      %dd= eo "Je noktomezo"
      %dd= eo "Je la dekdua nokte"
    %dl.dl-horizontal
      %dt 02:00
      %dd= eo "Je la dua nokte"
      %dd= eo "Je la dua antaŭtagmeze"
