.page-header
  %h2= t '.titolo'
%dl.dl-horizontal
  %dt.eo bis
  %dd= t '.bis'
  %dt.eo fi
  %dd= t '.fi'
  %dt.eo ha-1
  %dd= t '.ha-1'
  %dt.eo ha-2
  %dd= t '.ha-2'
  %dt.eo hura
  %dd= t '.hura'
  %dt.eo nu
  %dd= t '.nu'
  %dt.eo nu-nu
  %dd= t '.nu-nu'
  %dt.eo ve
  %dd= t '.ve'
  %dt.eo ho-ve
  %dd= t '.ho-ve'
  %dt.eo ve-al-mi
  %dd= t '.ve-al-mi'
