.page-header
  %h2= t '.titolo'
%dl.dl-horizontal
  %dt.eo ktp. = kaj tiel plu
  %dd= t '.ktp'
  %dt.eo t.e. = tio estas
  %dd= t '.te'
  %dt.eo s-ro = sijnoro
  %dd= t '.s-ro'
  %dt.eo s-ino = sijnorino
  %dd= t '.s-ino'
  %dt.eo f-ino = fraŭlino
  %dd= t '.f-ino'
  %dt.eo eo, e-o = Esperanto
  %dd= t '.e-o'
  %dt.eo e-isto = esperantisto
  %dd= t '.e-isto'
  %dt.eo s-ano = samideano
  %dd= t '.s-ano'
  %dt.eo bv. = bonvolu/bonvole
  %dd= t '.bv'
  %dt.eo str. = strato
  %dd= t '.str'
