.page-header
  %h2= t '.titolo'
%dl.dl-horizontal
  %dt.eo ktp
  %dd= t '.ktp'
  %dt.eo te
  %dd= t '.te'
  %dt.eo s-ro
  %dd= t '.s-ro'
  %dt.eo s-ino
  %dd= t '.s-ino'
  %dt.eo f-ino
  %dd= t '.f-ino'
  %dt.eo e-o
  %dd= t '.e-o'
  %dt.eo e-isto
  %dd= t '.e-isto'
  %dt.eo s-ano
  %dd= t '.s-ano'
  %dt.eo bv
  %dd= t '.bv'
  %dt.eo str
  %dd= t '.str'
