.page-header
  %h2= t '.titolo'
%p= t '.ekspliko'
%dl.dl-horizontal
  %dt= eo "almenaŭ"
  %dd= t '.almenaŭ'
  %dt= eo "Donu al mi almenaŭ du minutoj."
  %dd= t '.frazo-almenaŭ'
%dl.dl-horizontal
  %dt= eo "ankaŭ"
  %dd= t '.ankaŭ'
  %dt= eo "Ankaŭ Johano lavas sin."
  %dd= t '.frazo-ankaŭ-1'
  %dt= eo "Johano ankaŭ lavas sin."
  %dd= t '.frazo-ankaŭ-2'
  %dt= eo "Johano lavas ankaŭ sin."
  %dd= t '.frazo-ankaŭ-3'
%dl.dl-horizontal
  %dt= eo "ankoraŭ"
  %dd= t '.ankoraŭ'
  %dt= eo "Ĉu li ankoraŭ estas tie?"
  %dd= t '.frazo-ankoraŭ'
%dl.dl-horizontal
  %dt= eo "apenaŭ"
  %dd= t '.apenaŭ'
  %dt= eo "Li apenaŭ alvenis kaj devis foriri."
  %dd= t '.frazo-apenaŭ'
%dl.dl-horizontal
  %dt= eo "baldaŭ"
  %dd= t '.baldaŭ'
  %dt= eo "Venu baldaŭ, mi petas."
  %dd= t '.frazo-baldaŭ'
%dl.dl-horizontal
  %dt= eo "hieraŭ"
  %dd= t '.hieraŭ'
  %dt= eo "Mi renkontis lin hieraŭ."
  %dd= t '.frazo-hieraŭ'
%dl.dl-horizontal
  %dt= eo "morgaŭ"
  %dd= t '.morgaŭ'
  %dt= eo "Morgaŭ mi vizitos lin."
  %dd= t '.frazo-morgaŭ'
%dl.dl-horizontal
  %dt= eo "preskaŭ"
  %dd= t '.preskaŭ'
  %dt= eo "Li preskaŭ falis."
  %dd= t '.frazo-preskaŭ'
%dl.dl-horizontal
  %dt= eo "ambaŭ"
  %dd= t '.ambaŭ'
  %dt= eo "Ili ambaŭ estas en la ĝardeno."
  %dd= t '.frazo-ambaŭ'
%dl.dl-horizontal
  %dt= eo "for"
  %dd= t '.for'
  %dt= eo "For de l' okuloj, for de la koro."
  %dd= t '.frazo-for'
%dl.dl-horizontal
  %dt= eo "eĉ"
  %dd= t '.eĉ'
  %dt= eo "Eĉ sur la suno troviĝas malkuloj."
  %dd= t '.frazo-eĉ'
%dl.dl-horizontal
  %dt= eo "ja"
  %dd= t '.ja'
  %dt= eo "Ĉu li ja venos?"
  %dd= t '.frazo-ja'
%dl.dl-horizontal
  %dt= eo "ĵus"
  %dd= t '.ĵus'
  %dt= eo "Li ĵus eliris."
  %dd= t '.frazo-ĵus'
%dl.dl-horizontal
  %dt= eo "plu"
  %dd= t '.plu'
  %dt= eo "Mi ne plu volaa bicikli."
  %dd= t '.frazo-plu'
%dl.dl-horizontal
  %dt= eo "tre"
  %dd= t '.tre'
  %dt= eo "Ĉi tio tre plaĉas al mi."
  %dd= t '.frazo-tre'
%dl.dl-horizontal
  %dt= eo "tro"
  %dd= t '.tro'
  %dt= eo "Ŝi parolas tro laŭte."
  %dd= t '.frazo-tro'
%dl.dl-horizontal
  %dt= eo "jen"
  %dd= t '.jen'
  %dt= eo "Jen la dokumento, kiun vi petis."
  %dd= t '.frazo-jen'
%dl.dl-horizontal
  %dt= eo "kvazaŭ"
  %dd= t '.kvazaŭ'
  %dt= eo "La lago estis kvazaŭ spegulo."
  %dd= t '.frazo-kvazaŭ'
%dl.dl-horizontal
  %dt= eo "tuj"
  %dd= t '.tuj'
  %dt= eo "Mi ne tuj komprenis, kion ŝi diris."
  %dd= t '.frazo-tuj'
%dl.dl-horizontal
  %dt= eo "ĉi"
  %dd= t '.ĉi'
  %dt= eo "ĉi tio, ĉi tie, ĉi-foje"
  %dd= t '.frazo-ĉi'
%dl.dl-horizontal
  %dt= eo "ajn"
  %dd= t '.ajn'
  %dt= eo "io ajn, iu ajn, ie ajn"
  %dd= t '.frazo-ajn'
%dl.dl-horizontal
  %dt= eo "tamen"
  %dd= t '.tamen'
  %dt= eo "Li vivas malriĉe, tamen feliĉe."
  %dd= t '.frazo-tamen'
