%header
  %nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container
      .navbar-header
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "kurso", root_path, class: 'navbar-brand'
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle' => "dropdown"}
              %i.icon-book
              Lernado
              %b.caret
            %ul.dropdown-menu
              = render 'layouts/lernado'
          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle' => "dropdown"}
              %i.icon-question-sign
              Helpo
              %b.caret
            %ul.dropdown-menu
              = render 'layouts/helpo'
          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle' => "dropdown"}
              %i.icon-globe
              = lingvo_nomo(I18n.locale, true)
              %b.caret
            %ul.dropdown-menu
              = lingvo_selektado_opcioj
          %li
            %a{href: 'https://github.com/mmacedo/kurso', target: '_new'}
              %i.icon-github
          %li
            %a{href: 'mailto:michelpm@gmail.com', target: '_new'}
              %i.icon-envelope
