%header.navbar.navbar-fixed-top
  %nav.navbar-inner
    .container
      %button.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "kurso", root_path, class: 'brand'
      .nav-collapse.collapse
        %ul.nav.pull-right
          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle' => "dropdown"}
              %i.icon-book
              Lernado
              %b.caret
            %ul.dropdown-menu
              = render 'layouts/lernado'
          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle' => "dropdown"}
              %i.icon-question-sign
              Helpo
              %b.caret
            %ul.dropdown-menu
              = render 'layouts/helpo'
          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle' => "dropdown"}
              %i.icon-globe
              = lingvo_nomo(I18n.locale, true)
              %b.caret
            %ul.dropdown-menu
              = lingvo_selektado_opcioj
          %li.divider-vertical
          %li
            %a{href: 'https://github.com/mmacedo/kurso', target: '_new'}
              %i.icon-github
          %li
            %a{href: 'mailto:michelpm@gmail.com', target: '_new'}
              %i.icon-envelope
