!!!
%html{lang: I18n.locale}
  %head
    %title= content_for?(:title) ? yield(:title) : "Kurso de Esperanto"

    %meta{charset: "utf-8"}
    %meta{name: "viewport",    content: "width=device-width, initial-scale=1.0"}
    %meta{name: "description", content: "Kurso de Esperanto per Carlos Pereira."}
    %meta{name: "author",      content: "Michel Pavan Macedo"}
    = csrf_meta_tags

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=cyrillic-ext,greek-ext,latin-ext,cyrillic,latin,greek'
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
  %body
    = render 'layouts/navigation'
    .main{role: "main"}
      .container
        = render 'layouts/messages'
        = yield
        %footer
